<div class="modal-header">
  <h4 class="modal-title">Sign in</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body align-content-center">
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center">
        <button  (click)="goMumLogin()" class="btn btn-light jugglr-btn-mum btnmodelbutton" data-toggle="modal" data-target="#exampleModal">I'm a professional</button>
    </div>
    <div class="col-6 justify-content-center">
        <button  (click)="goBusinessLogin()" class="btn btn-light jugglr-btn-mum btnmodelbutton" data-toggle="modal" data-target="#exampleModal">I'm a business</button>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
  </div>
</div>