
.btnmodelbutton{
  width: 180px;
  margin: auto;
}

.justify-content-center{
  text-align: center;
}

.justify-content-end{
  height: 32px;
}

.modal-title {
  font-weight: 400;
  font-size: 1rem;
}
.modal-header button.close {
  top: 12px;
}