.jugglr-mainheader{
  background-color: #2A3E54 !important;
}
.jugglr-mainheader .nav-link{
  color: #ffffff;
}
.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}
.bellnotification{
  color: #ffffff;
  cursor: pointer;

}
.navbar-nav a{
  text-align: left;
}
.toggler-example{
  color: #ffffff!important;
  background: #2A3E54;
}
button.toggler-example{
  border: none;
  border-radius: 0;
  color: #ffffff;
}
button.toggler-example:focus{
  box-shadow: none;
}
.navbar-brand{
  cursor: pointer;
}

.jugglr-mainheader .fa-stack {
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  vertical-align: top;
  width: 1.5em;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  background: #fff;
  border-color: #fff;
  border-width: 1px;
  color: #495057;
  right: 12;
  cursor: pointer;
}
