<div class="loginmodal-container">
  <h1>Login to Your Account</h1><br>
  <form>
    <input type="text" name="user" placeholder="Username">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="login" routerLink="/" class="login loginmodal-submit" value="Login">
  </form>

  <div class="login-help">
    <a href="#">Register</a> - <a href="#">Forgot Password</a>
  </div>
</div>