.jugglr-profile-img{
  width: 140px!important;
  height: 140px!important;
  margin: auto;
  border: 2px solid #2A3E54;
}
.circle-img-backgrounddd{
  width: 154px;
  height: 154px;
  margin: auto;
  padding: 2px;
  border: 2px solid #2A3E54;
  border-radius: 0;
}
.jugglr-profile-img2{
  width: 70px!important;
  height: 70px!important;
}
.usernametext{
  font-size: 16px;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 400!important;
}
.jobdetailtitle{
  font-size: 26px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400!important;
}
.jobdetailprice{
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 300!important;
}
.card-deck{
  padding: 10px;
}
.jobdetailnote{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.card-deck span{
  font-weight: 200!important;
}
.marketplaceratingandlikes{
  font-size: 13px;

  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 300!important;
  padding-left: 0;
}
.marketplaceratingandlikesitem{
  border-right: 1px solid #c7c8c9;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 400!important;
  font-size: 13px;

}
.marginauto{
  margin: auto;
}
.card-deck.card-decklast{
  padding: 0px;
}
.chatformfixbottom{

}
.commentsection{
  margin-top: 30px;
}
.commentname{
  text-align: left;
  font-weight: 400!important;
  font-size: 13px;
}
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 100%; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  border-radius: 0;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 1px 0 8px;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 20px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #2A3E54 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #2A3E54 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  text-align: left;
}
.msg_history {
  height: 100%;
  max-height: 516px;
  overflow-ys:auto;
}
.btnshortlist{
  margin: auto;
}
.btnshortlistcontainer{
  margin: auto;
}
.yellowbtn{
  color: #86A6B2;
}
.greenbtn{
  color: #08af5b;
}
.subserviceneed{
  border-radius: 25px;
  border: 2px solid;
  color: #2A3E54;
  border-color: #2A3E54;
}
.subserviceoffer{
  border-radius: 25px;
  border: 2px solid;
  color: #2A3E54;
  border-color: #2A3E54;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #2A3E54;
  background-color: transparent;
  /* border-color: transparent transparent transparent transparent ; */
  border-bottom: 6px solid !important;
  font-size: 20px;
  font-weight: bold;
}
.nav-tabs .nav-link {
border: 1px solid transparent;
border-top-left-radius:100px;
border-top-right-radius:100px;
border-bottom: 6px solid !important;
color: #c7c8c9;
font-size: 20px;
}
.btn-postjob{
  display: flex;
  justify-content: center;
}
.modal-title{
  margin: auto;
  margin-right: 0;
}
.jugglr-profile-imgpopup{
  height: 80px;
  width: 80px;
}
.card-header{
  padding-left: 0;
  padding-right: 0;
}
.btnbackprofile{
  position: absolute;
  top: 17px;
  z-index: 100;

}
.jugglr-link-next{
  padding:12px;
}