.sponsorrow {
    margin: auto;
  padding: auto;
    box-shadow: inset 0 -5px 0 2px rgba(0,0,0,.2);
}
.featuredin{
  margin: auto;
  margin-left: 20px;
  padding: 30px;
  color: #f8f9fa;
  display: block;
  text-align: center;

}
.featuredin h2{
  line-height: 27px;
  font-size: 19px;
  font-weight: 400;
}
.sponsorrow .col-2{
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

}
.short-hiw .content1{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
  align-self: center;
  text-align: left;
  border-left: 4px solid #FFFFFF;

}
.short-hiw .content0.title{
   text-align: center;
 }
.short-hiw .content0.title h2{
  line-height: 50px;
  font-size: 2rem;
  font-weight: 500;
}
.short-hiw .content1 h4{
  font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}
.short-hiw .content1 p{
  font-size: 15px;
  line-height: 10px;
  font-weight: 300;
}
.short-hiw .content0{
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
  border-right: 0px solid #FFFFFF;
}
.short-hiw {
  display: flex;
  color: #FFFFFF;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
  min-height: 175px;
  background: #86A6B2;
  box-shadow: inset 0 -5px 0 2px rgba(0,0,0,.2);
}
.featured-hiw {
  display: flex;
  color: #FFFFFF;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
  min-height: 175px;
}
.short-hiw h2{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}
.short-hiw p{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
}
.servicesoffered-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jobsoffered-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jugglr-carousel-container{
  margin-top: 40px;
  height: 400px;
}
.logobar {
  background-image: url("../../../assets/svg-media-480.svg");
  width: 100%;
  height: 220px;
  margin: auto;
  background-position:center;
  background-repeat: no-repeat;
}
.logo-bar-section{
  background: #2A3E54;
  height: 245px;
}
.footer .content3{
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
  border-right: 0px solid #FFFFFF;
}
@media (min-width: 420px){
  .logobar {
    height: 240px;
    background-image: url("../../../assets/svg-media-480.svg");
    background-position:bottom;
  }
  .logo-bar-section{
    background: #2A3E54;
    height: 285px;
  }
  .short-hiw{
    height: auto!important;
  }
  .featuredin{
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 250px) {
  .logo-bar-section{
    background: #2A3E54;
    height: 285px;
  }
  .logobar {
    height: 240px;
    background-image: url("../../../assets/svg-media-480.svg");
    background-position:bottom;
  }
  .featuredin {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px){
  .logo-bar-section{
    background: #2A3E54;
    height: 215px;
  }
  .logobar {
    height: 185px;
    background-image: url("../../../assets/svg-media-768.svg");
    background-position:bottom;
  }
  .featuredin {
    margin: 0;
    padding: 0;
    padding: 30px;
  }
  .footer .content3{
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    text-align: center;
    border-right: 0px solid #FFFFFF;
  }
}
@media (min-width: 1200px){
  .featuredin {
    padding-top: 50px;
  }
  .logobar {
    background-position:center;
    height: 114px;
    background-image: url("../../../assets/svg-media-768.svg");
  }
  .logo-bar-section{
    background: #2A3E54;
    height: 175px;
  }
  .featuredin{
    display: block;
    text-align: center;

  }
  .footer .content3{
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    text-align: left;
    border-right: 0px solid #FFFFFF;
    padding-left: 15%
  }
}

.trustedtitel{
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 20px;

}
.container-visitor{
  margin: auto;
}
.howitworkimg{
  margin: auto;

}
.footersocilatlink{
  padding-left: 15px;
  color: #FFFFFF;
}
.footer{
  display: flex;
  color: #FFFFFF;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row;
  background: #2A3E54;
  box-shadow: inset 0 -5px 0 2px rgba(0,0,0,.2);

}
.footer .content2{
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
  border-right: 0px solid #FFFFFF;
}
.jobsoffered-containerhowto{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
}
.imghowto{
  max-width: 100%;
}
.footerlink{
    width: 100%;
    display: flow-root;
    color: #fff;
    font-family: 'Lato', sans-serif, 'Lato';
    font-size: 14px;
}
.back-to-top{
  width: 60px;
  height: 60px;
  display: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #2a3e54;
  color: #ffffff;
  position: fixed;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px !important;
  bottom: 86px;
  text-align: center;
}
.back-to-top span{
  line-height: 60px;
}