

<div class="row justify-content-center footer">
  <div class="content2 title col-md-12 col-xl-4" >
    <p>Download Jugglr from your app store</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../assets/google%20play.png" class=" btn"></a>
      <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../assets/download-on-the-app-store-apple.png" class=" btn" ></a>
    </p>
  </div>
  <div class="content3 item col-md-12 col-xl-4 ">
    <a class="footerlink" href="https://www.jugglrapp.com/FAQ" target="_blank" >FAQ</a>
    <a class="footerlink"  href="https://www.jugglrapp.com/terms-and-conditions" target="_blank" >Terms and conditions</a>
    <a class="footerlink"  href="https://www.jugglrapp.com/privacy-policy" target="_blank" >Privacy Policy</a>

  </div>
  <div class="content2 item col-md-12 col-xl-4">
    <p>follow us   <a href="https://www.facebook.com/jugglr/" target="_blank" class="footersocilatlink"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/jugglrapp/?hl=en" target="_blank" class="footersocilatlink"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCqUUc_f6vDICK-wVNw_hwtw" target="_blank" class="footersocilatlink"><i class="fab fa-youtube"></i></a>
      <a href="https://www.linkedin.com/company/jugglr" target="_blank" class="footersocilatlink"><i class="fab fa-linkedin-in"></i></a></p>
  </div>
  <div class="back-to-top" (click)="backToTop()">
    <span class='fa fa-arrow-up'></span>          
  </div>
</div>

