<div class="container addjob-container">
  <div class="alert alert-info jugglralert" *ngIf="showmessage " role="alert">
    {{alertmesssage}}
  </div>
  <div class="row" >
      <div class="nav nav-tabs navtabnopadding col-12 col-md-6 jugglrvan justify-content-end mb-20" >
         <li class="nav-item nav-item-search order-md-2 order-2">
            <form class=" searchformd " (submit)="changesearch()">
               <input type="text" class="form-control searchinput" name="textsearch" placeholder="Search" aria-label="Search"
               [(ngModel)]="searchbox"  [ngbTypeahead]="search" [resultFormatter]="formatter"
               [inputFormatter]="inputformatter" (selectItem)="selectedItem($event)" > 
               <span class="fa fa-search errspan" *ngIf="!this.blnSearched" (click)="changesearch()"></span>
               <span class="fa fa-times-circle errspan" *ngIf="this.blnSearched" (click)="clearSearch()"></span>
            </form>
         </li>
      </div>
   </div>
  <div class="tab-pane h-75 col-12 col-md-6" *ngIf="marketplacejobs.length==0">
    <div class="col-12 tododetail">
      <div class="row justify-content-center">
        <br><br>
        In this section you will find details about your completed gigs, including contracts and invoices.
        <br><br><br>
        <div (click)="hiretalent()" class="btn jugglr-tagx-main">HIRE TALENT</div>
      </div>
      <div class="col-12 justify-content-center">
        <br>
        <div (click)="addgig()" class="btn jugglr-tagx-new">Post Gig</div>
      </div>
    </div>
  </div>
  
  <div class="tab-pane h-75 col-12 col-md-6">
    <div class="row" *ngFor="let job of marketplacejobs; let i = index">

      <div class="card itemcardj w-100 shadow  bg-white rounded">
        <div class="row m-0 ">
          <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle " *ngIf="job.tab">
            <div class="coldatecontentcheck mx-auto my-auto">
              <i class="far fa-2x fa-check-circle"></i>
            </div>
          </div>
          <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle " *ngIf="!job.tab">
            <div class="coldatecontentcheck align-middle">
              <h5>{{job.datetime | date: 'dd'}}</h5>
              <small>{{job.datetime | date: 'MMMM'}}</small>
            </div>
          </div>
          <div class="col tododetail">


            <div class=" texttodo justify-content-left float-left" *ngIf="job.type=='need' && !job.tab" (click)="reviewdetail(content3,job)">
              {{job.userwithname}} is helping you with {{job.subservices}}

            </div>
          


            <div class=" texttodo justify-content-left float-left" *ngIf="job.type=='offer' && !job.tab" (click)="reviewdetail(content3,job)">
              you are helping {{job.userwithname}} with {{job.subservices}} ${{job.amount}}
            </div>
            <div class=" texttodo justify-content-left float-left" *ngIf="job.tab " (click)="reviewdetail(content3,job)">
              {{job.userwithname}} helped you with {{job.subservices}} for ${{job.amount}} in return
            </div>
            <div class="col-12 actionzone ">
              <div (click)="downloadinvoice(content4,job)" class="btn jugglr-btn-main marginright15 ">Invoice</div>
              <div (click)="downloadcontract(content4,job)" class="btn jugglr-btn-main">Contract</div>


            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    Please rate your experience with {{selectedjobforRating.userwithname}}
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <div class="col-10 ">
        <p>{{selectedjobforRating.userwithname}} helped you with {{selectedjobforRating.subservices}}.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <button (click)="addtransactionfeedback('1')" class="btn jugglr-btn-next btnpositive">Positive</button>
      <button (click)="addtransactionfeedback('2')" class="btn jugglr-btn-next btnneutral">Neutral</button>
      <button (click)="addtransactionfeedback('3')" class="btn jugglr-btn-next btnnegativ">Negative</button>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<ng-template #content2 let-modal>
  <div class="modal-header">
    Gig Summary
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <div class="col-10  ">
        <div class="row transactiondetail">
          <div class="col-3">
            <img (click)="goUserDetail(transactiondtail.user_id)" [src]="transactiondtail.user_image" alt="Random second slide"
              onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
          </div>
          <div class="col-9 transactiondetailcol2 ">
            <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.offer_customservice}}</div>

          </div>
          <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.offer_datetime| date: 'dd MMMM
            yyyy'}}</div>
          <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.offer_datetime| date:
            'HH:mm'}}</div>
          <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.offer_location}}</div>
          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>

        </div>
        <div class="row ">

          <div class="col-12 transactiondetailinexchange ">
            <div class="">In exchange of {{transactiondtail.need_customservice}} ${{transactiondtail.amount}}</div>

          </div>

          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>

        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <button (click)="accepttransaction('1')" class="btn jugglr-btn-next">Accept</button>
      <button (click)="accepttransaction('0')" class="btn jugglr-btn-next declinebutton">Decline</button>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<ng-template #content3 let-modal>
  <div class="modal-header">
    Gig Summary
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <div class="col-10  " *ngIf="transactiondtail.need_serviceid==8">
        <div class="row transactiondetail">
          <div class="col-3">
            <img (click)="goUserDetail(transactiondtail.user_id)" [src]="transactiondtail.user_image" alt="Random second slide"
              onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
          </div>
          <div class="col-9 transactiondetailcol2 ">
            <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.offer_customservice}}</div>

          </div>
          <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.offer_datetime| date: 'dd MMMM
            yyyy'}}</div>
          <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.offer_datetime| date:
            'HH:mm'}}</div>
          <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.offer_location}}</div>
          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>

        </div>
        <div class="row ">

          <div class="col-12 transactiondetailinexchange ">
            <div class="">In exchange of {{transactiondtail.need_customservice}} ${{transactiondtail.amount}}</div>

          </div>

          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>

        </div>
      </div>
      <div class="col-10  " *ngIf="transactiondtail.offer_serviceid==8">
        <h4>Gig Summary </h4>
        <div class="row transactiondetail">
          <div class="col-3">
            <img (click)="goUserDetail(transactiondtail.userwith_id)" [src]="transactiondtail.userwith_image" alt="Random second slide"
              onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
          </div>
          <div class="col-9 transactiondetailcol2 ">
            <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.need_customservice}}</div>

          </div>
          <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.need_datetime| date: 'dd MMMM
            yyyy'}}</div>
          <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.need_datetime| date: 'HH:mm'}}</div>
          <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.need_location}}</div>
          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>

        </div>
        <div class="row ">

          <div class="col-12 transactiondetailinexchange ">
            <div class="">In exchange of {{transactiondtail.offer_customservice}} ${{transactiondtail.amount}}</div>

          </div>

          <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>

        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center">

    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<ng-template #content4 let-modal>
  <div class="modal-header">
    Please enter your ABN to download the document
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <div class="col-10  ">
        
        <div class="row ">

          <div class="col-12  ">
            <input required type="text" [(ngModel)]="ABN" name="ABN" class="form-control" placeholder="Australian Business Number">

          </div>


        </div>
      </div>

    </div>
    <div class="row justify-content-center text-center">
      <button (click)="SAVEABN()" class="btn jugglr-btn-next">Save</button>

    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<div class='contract' *ngIf="contractready" style="display:none">

  <body class="c27">
    <p class="c48"><span class="c39 c5"></span><span class="c39 c5 c34">{{currentuser.firstname}}</span><span class="c19 c5 c39"></span></p>
    <p class="c47 c38"><span class="c19 c5 c4"></span></p>
    <p class="c47"><span class="c5 c4">ABN </span><span class="c5 c4 c34">{{ABN}}</span><span class="c19 c5 c4"></span></p>
    <p class="c47"><span class="c5 c4"><br></span><span class="c21">CONTRACTOR AGREEMENT</span></p>
    <hr style="page-break-before:always;display">
    <p class="c45"><span class="c5 c4">TABLE OF CONTENTS</span></p>
    <p class="c3"><span class="c2"></span></p>
    <p class="c60"><span class="c5 c4"><a class="c1" href="#h.gjdgxs">PARTIES &amp; EXECUTION</a></span><span class="c5 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        class="c5 c4"><a class="c1" href="#h.gjdgxs">3</a></span></p>
    <p class="c0"><span class="c4">A &nbsp; </span><span class="c4"><a class="c1" href="#h.30j0zll">PARTIES</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.30j0zll">3</a></span></p>
    <p class="c0"><span class="c4">B &nbsp; </span><span class="c4"><a class="c1" href="#h.1fob9te">EXECUTION</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.1fob9te">3</a></span></p>
    <p class="c43"><span class="c5 c4"><a class="c1" href="https://www.google.com/url?q=https://docs.google.com/document/d/1hFhDzzHtMjqXcKOJVWB4MWCKQugicLQstXZwZc693Hs/edit%23heading%3Dh.mnxlmzycc3m5&amp;sa=D&amp;ust=1547400954714000">PARTICULARS</a></span><span
        class="c5 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5 c4"><a class="c1" href="https://www.google.com/url?q=https://docs.google.com/document/d/1hFhDzzHtMjqXcKOJVWB4MWCKQugicLQstXZwZc693Hs/edit%23heading%3Dh.mnxlmzycc3m5&amp;sa=D&amp;ust=1547400954715000">4</a></span></p>
    <p class="c0"><span class="c4">A &nbsp; AGREEMENT DATE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        class="c4"><a class="c1" href="#h.3dy6vkm">4</a></span></p>
    <p class="c0"><span class="c4">B &nbsp; </span><span class="c4"><a class="c1" href="#h.3dy6vkm">SERVICES &amp;
          DURATION</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.3dy6vkm">4</a></span></p>
    <p class="c0"><span class="c4">C &nbsp; </span><span class="c4"><a class="c1" href="#h.1t3h5sf">FEES &amp; PAYMENT</a></span><span
        class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</span></p>
    <p class="c0"><span class="c4">D &nbsp; </span><span class="c4"><a class="c1" href="#h.2s8eyo1">TECHNOLOGY,
          SYSTEMS, POLICIES &amp; GUIDELINES</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        class="c4"><a class="c1" href="#h.2s8eyo1">5</a></span></p>
    <p class="c0"><span class="c4">E &nbsp; </span><span class="c4"><a class="c1" href="#h.17dp8vu">CONDITIONS OF
          SERVICE</a></span><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5</span></p>
    <p class="c0"><span class="c4">F &nbsp; </span><span class="c4"><a class="c1" href="#h.26in1rg">INTELLECTUAL
          PROPERTY</a></span><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6</span></p>
    <p class="c0"><span class="c4">G &nbsp; </span><span class="c4"><a class="c1" href="#h.35nkun2">POST-CONTRACT
          CONDITIONS</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.35nkun2">7</a></span></p>
    <p class="c0"><span class="c4">H &nbsp; </span><span class="c4"><a class="c1" href="#h.z337ya">ENDING THE SERVICES
          AND/OR THIS AGREEMENT</a></span><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8</span></p>
    <p class="c0"><span class="c4">&nbsp;I &nbsp; </span><span class="c4"><a class="c1" href="#h.4i7ojhp">LEGAL
          LOCATION</a></span><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9</span></p>
    <p class="c43"><span class="c5 c4"><a class="c1" href="https://www.google.com/url?q=https://docs.google.com/document/d/1hFhDzzHtMjqXcKOJVWB4MWCKQugicLQstXZwZc693Hs/edit%23heading%3Dh.2xcytpi&amp;sa=D&amp;ust=1547400954718000">GENERAL
          CONDITIONS</a></span><span class="c5 c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5 c4"><a
          class="c1" href="https://www.google.com/url?q=https://docs.google.com/document/d/1hFhDzzHtMjqXcKOJVWB4MWCKQugicLQstXZwZc693Hs/edit%23heading%3Dh.2xcytpi&amp;sa=D&amp;ust=1547400954718000">1</a></span><span
        class="c19 c5 c4">0</span></p>
    <p class="c0"><span class="c4">1 &nbsp; </span><span class="c4"><a class="c1" href="#h.1ci93xb">INTERPRETATION</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.1ci93xb">1</a></span><span
        class="c2">0</span></p>
    <p class="c0"><span class="c4">2 &nbsp; </span><span class="c4"><a class="c1" href="#h.1hmsyys">RELATIONSHIP</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.1hmsyys">1</a></span><span
        class="c2">1</span></p>
    <p class="c0"><span class="c4">3 &nbsp; </span><span class="c4"><a class="c1" href="#h.41mghml">CONTRACTOR&rsquo;S
          KEY OBLIGATIONS</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.41mghml">1</a></span><span class="c2">1</span></p>
    <p class="c0"><span class="c4">4 &nbsp; </span><span class="c4"><a class="c1" href="#h.vx1227">COMPANY&rsquo;S KEY
          OBLIGATIONS</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.vx1227">1</a></span><span class="c2">2</span></p>
    <p class="c0"><span class="c4">5 &nbsp; </span><span class="c4"><a class="c1" href="#h.3fwokq0">INVOICING &amp;
          PAYMENT</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.3fwokq0">1</a></span><span class="c2">2</span></p>
    <p class="c0"><span class="c4">6 &nbsp; </span><span class="c4"><a class="c1" href="#h.4f1mdlm">CONFIDENTIALITY</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.4f1mdlm">1</a></span><span
        class="c2">2</span></p>
    <p class="c0"><span class="c4">7 &nbsp; </span><span class="c4"><a class="c1" href="#h.28h4qwu">WARRANTY AND
          INDEMNITY</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.28h4qwu">1</a></span><span class="c2">3</span></p>
    <p class="c0"><span class="c4">8 &nbsp; </span><span class="c4"><a class="c1" href="#h.nmf14n">DISPUTE RESOLUTION</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.nmf14n">1</a></span><span
        class="c2">3</span></p>
    <p class="c0"><span class="c4">9 &nbsp; </span><span class="c4"><a class="c1" href="#h.1mrcu09">POST-TERMINATION
          PROVISIONS</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.1mrcu09">1</a></span><span class="c2">4</span></p>
    <p class="c0"><span class="c4">10 &nbsp; </span><span class="c4"><a class="c1" href="#h.111kx3o">POST-CONTRACT
          RESTRAINT</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.111kx3o">1</a></span><span class="c2">4</span></p>
    <p class="c0"><span class="c4">11 &nbsp; </span><span class="c4"><a class="c1" href="#h.3l18frh">AMENDMENT AND
          ASSIGNMENT</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a
          class="c1" href="#h.3l18frh">1</a></span><span class="c2">5</span></p>
    <p class="c0"><span class="c4">12 &nbsp; </span><span class="c4"><a class="c1" href="#h.206ipza">ELECTRONIC
          COMMUNICATION &amp; NOTICES</a></span><span class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
        class="c4"><a class="c1" href="#h.206ipza">1</a></span><span class="c2">5</span></p>
    <p class="c59"><span class="c4">13 &nbsp; </span><span class="c4"><a class="c1" href="#h.4k668n3">GENERAL</a></span><span
        class="c4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"><a class="c1" href="#h.4k668n3">1</a></span><span
        class="c2">5</span></p>

    <p class="c45 c38"><span class="c2"></span></p>
    <p class="c38 c53 html2pdf__page-break"><span class="c19 c5 c4"></span></p>
    <h1 class="c50" id="h.gjdgxs"><span class="c19 c5 c36">PARTIES &amp; EXECUTION</span></h1>
    <ol class="c17 lst-kix_9rnes2644pvy-0 start" start="1">
      <li class="c40 c29">
        <h2 id="h.30j0zll" style="display:inline"><span class="c20 c5">A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PARTIES</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_5c2oc31gu39b-1 start" start="1">
      <li class="c16 c29"><span class="c4">A.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4"></span><span
          class="c4 c34">{{currentuser.firstname}}</span><span class="c2"></span></li>
    </ol>
    <a id="t.681e7ec93af1ae0f3c102cc4eaf46226272bf206"></a><a id="t.0"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Name</span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c4"></span><span class="c4 c34">{{currentuser.firstname}}</span><span class="c4">
                ABN </span><span class="c4 c34">{{ABN}}</span><span class="c4"> (</span><span class="c5 c4">Company</span><span
                class="c2">)</span></p>
            <p class="c3"><span class="c2"></span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Address</span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2 c34">{{currentuser.address}}</span></p>
            <p class="c3"><span class="c2 c34"></span></p>
            <p class="c3"><span class="c2 c34"></span></p>
            <p class="c3"><span class="c2 c34"></span></p>
          </td>
        </tr>
        <tr class="c32">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Contact</span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c4"></span><span class="c4 c34">{{currentuser.firstname}}</span><span class="c2">
                Director</span></p>
            <p class="c31"><span class="c4"></span><span class="c4 c34">{{currentuser.email}}</span><span class="c2"></span></p>
            <p class="c31"><span class="c4"></span><span class="c4 c34">{{currentuser.phone}}</span><span class="c2"></span></p>
            <p class="c3"><span class="c2"></span></p>
            <p class="c3"><span class="c2"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_5c2oc31gu39b-1" start="2">
      <li class="c16 c29"><span class="c2">A.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contractor</span></li>
    </ol>
    <a id="t.b8a31aa1f53db5d65d8e16cc1f7c3a0f93b2d566"></a><a id="t.1"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Name</span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c4 c34">{{userwithselected.firstname}} {{userwithselected.lastname}}</span><span
                class="c4">&nbsp;(</span><span class="c5 c4">Contractor</span><span class="c2">)</span></p>
            <p class="c3"><span class="c2"></span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Address</span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2 c34">{{userwithselected.suburb}} {{userwithselected.postcode}}</span></p>
            <p class="c31"><span class="c2 c34">{{userwithselected.city}} {{userwithselected.state}} </span></p>
            <p class="c31"><span class="c2">Australia</span></p>
            <p class="c3"><span class="c2"></span></p>
            <p class="c3"><span class="c2"></span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Contact </span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2 c34">{{userwithselected.firstname}} {{userwithselected.lastname}}</span></p>
            <p class="c31"><span class="c4"></span><span class="c4 c34">{{userwithselected.email}}</span><span class="c2"></span></p>
            <p class="c3"><span class="c2"></span></p>
            <p class="c3"><span class="c2"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="2">
      <li class="c40 c29">
        <h2 id="h.1fob9te" style="display:inline"><span class="c57 c5 c26">B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c20 c5">EXECUTION</span></h2>
      </li>
    </ol>
    <p class="c31"><span class="c4">By signing below, the parties agree to the Particulars and the General Conditions
        set out in this Agreement.</span></p>
    <p class="c3"><span class="c2"></span></p>
    <a id="t.4df2ae5cd06ed8e5d04f1288ac596ae77c89750a"></a><a id="t.2"></a>
    <table class="c61">
      <tbody>
        <tr class="c49">
          <td class="c25" colspan="1" rowspan="1">
            <p class="c31"><span class="c5 c4">EXECUTED </span><span class="c4">by </span><span class="c5 c4"></span><span
                class="c5 c4 c34">{{currentuser.firstname}} </span><span class="c5 c4"> </span><span class="c4">in
                accordance with the </span><span class="c4 c26">Corporations Act 2001</span><span class="c4">&nbsp;(Cth)
                by:</span></p>
          </td>
          <td class="c30" colspan="1" rowspan="1">
            <p class="c3"><span class="c2"></span></p>
          </td>
          <td class="c37" colspan="1" rowspan="1">
            <p class="c35"><span class="c2">&nbsp;</span></p>
            <p class="c35"><span class="c19 c5 c4">Director</span></p>
            <p class="c35 c38"><span class="c2"></span></p>
            <p class="c35"><span class="c4"></span><span class="c4 c34">{{selectjob.accept_date!==""?
                (selectjob.accept_date | date: 'dd MMMM yyyy'):(selectjob.createdAt | date: 'dd MMMM yyyy')}}</span><span
                class="c2"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <a id="t.f880b4ff0ed2b2ad8e3eec41169d3195ae9732b6"></a><a id="t.3"></a>
    <table class="c61 html2pdf__page-break">
      <tbody>
        <tr class="c49">
          <td class="c25" colspan="1" rowspan="1">
            <p class="c31"><span class="c5 c4">EXECUTED </span><span class="c4">by </span><span class="c5 c4 c34">{{userwithselected.firstname}}
                {{userwithselected.lastname}} </span><span class="c5 c4">&nbsp;</span><span class="c4">in accordance
                with the </span><span class="c4 c26">Corporations Act 2001</span><span class="c4">&nbsp;(Cth) by:</span></p>
          </td>
          <td class="c30" colspan="1" rowspan="1">
            <p class="c3"><span class="c2"></span></p>
          </td>
          <td class="c37" colspan="1" rowspan="1">
            <p class="c3"><span class="c19 c5 c4"></span></p>
            <p class="c31"><span class="c19 c5 c4 c34">{{userwithselected.firstname}} {{userwithselected.lastname}}</span></p>
            <p class="c35 c38"><span class="c2"></span></p>
            <p class="c35"><span class="c4"></span><span class="c4 c34">{{selectjob.accept_date!==""?
                (selectjob.accept_date | date: 'dd MMMM yyyy'):(selectjob.createdAt | date: 'dd MMMM yyyy')}}</span><span
                class="c2"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <h1 class="c46" id="h.snfomofj7u8c"><span class="c19 c5 c36">PARTICULARS</span></h1>
    <p class="c3"><span class="c5 c4 c19"></span></p>
    <ol class="c17 lst-kix_pg09k491jegz-0 start" start="1">
      <li class="c29 c40">
        <h2 id="h.7nh0wa44durw" style="display:inline"><span class="c57 c5 c26">A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AGREEMENT
            DATE</span></h2>
      </li>
    </ol>
    <p class="c3"><span class="c19 c5 c4"></span></p>
    <a id="t.3c41cdbd92cbfbdbd1d0b17c3f684f06fa21ede8"></a><a id="t.4"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <p class="c31"><span class="c19 c5 c4">Agreement Date</span></p>
          </td>
          <td class="c28" colspan="1" rowspan="1">
            <p class="c31"><span class="c2">The date the last party signs this Agreement. </span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_ykiu40x3xyuh-0 start" start="2">
      <li class="c40 c29">
        <h2 id="h.3dy6vkm" style="display:inline"><span class="c20 c5">B&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVICES
            &amp; DURATION</span></h2>
      </li>
    </ol>
    <a id="t.a5c8bc2f5f2bd8c411a0efa7c87d2582db25510b"></a><a id="t.5"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1 start" start="1">
              <li class="c16 c29"><span class="c4">B1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Agreement &amp; Term</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">The Contractor agrees to provide the Services to the Company until this
                Agreement is validly terminated.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="2">
              <li class="c16 c29"><span class="c2">B.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16"><span class="c4">The Contractor will provide the following </span><span class="c5 c4">Services</span><span
                class="c2">&nbsp;to the Company:</span></p>
            <p class="c16"><span class="c4"></span><span class="c4 c34">{{detailjobselected.need_serviceid==8?
                detailjobselected.offer_customservice:detailjobselected.need_customservice}}</span><span class="c2"></span></p>
            <p class="c16"><span class="c4"></span><span class="c4 c34">{{detailjobselected.need_serviceid==8?
                detailjobselected.offer_note:detailjobselected.need_note}}</span><span class="c4"> </span><span class="c4 c34"></span><span
                class="c2"></span></p>
            <p class="c16 c38"><span class="c2"></span></p>
            <p class="c16 c38"><span class="c2"></span></p>
            <p class="c16 c38"><span class="c2"></span></p>
            <p class="c16 c38"><span class="c2"></span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="3">
              <li class="c16 c29"><span class="c2">B.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duration</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16"><span class="c2">Services will be provided as a ONCE OFF project as per description of
                Services (B.2)</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c31"><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="3">
      <li class="c40 c29">
        <h2 id="h.1t3h5sf" style="display:inline"><span class="c20 c5">C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FEES
            &amp; PAYMENT</span></h2>
      </li>
    </ol>
    <a id="t.435bb99a7aae67c934b2e8817cc545a83fd32d52"></a><a id="t.6"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="4">
              <li class="c16 c29"><span class="c4">C.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Fees</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16"><span class="c4"></span><span class="c4 c34">$ {{detailjobselected.amount | number :
                '1.2-2'}} </span><span class="c2"></span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="5">
              <li class="c16 c29"><span class="c2">C.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invoicing &amp;
                  Payment</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-2 start" start="1">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor
                  will render a valid Tax Invoice to the Company through the Jugglr platform for any paid Services
                  provided.</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company
                  agrees to pay Tax Invoices raised through the Jugglr platform promptly within 14 days of confirmation
                  of gig completion through the Jugglr platform.</span></li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3 html2pdf__page-break"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="4">
      <li class="c40 c29">
        <h2 id="h.2s8eyo1" style="display:inline"><span class="c20 c5">D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TECHNOLOGY,
            SYSTEMS, POLICIES &amp; GUIDELINES</span></h2>
      </li>
    </ol>
    <a id="t.fc030fd52a90e8d5ce3e3f3bdae5b88d894a0704"></a><a id="t.7"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="6">
              <li class="c16 c29"><span class="c4">D.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Technology</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">The Contractor agrees to ensure that it has the appropriate technology to
                perform the Services. The Company shall not provide the Contractor with any computer equipment to
                perform the Services, unless agreed in writing by the Company.</span></p>
          </td>
        </tr>
        <tr class="c13">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="7">
              <li class="c16 c29"><span class="c2">D.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use of Systems</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">The Company may require the Contractor to use particular systems from
                time-to-time. The Contractor agrees to keep secure all usernames and passwords used to access the
                Company&rsquo;s systems.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="8">
              <li class="c16 c29"><span class="c2">D.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policies &amp;
                  Guidelines</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2">The Company will keep the Contractor aware of any policies or guidelines it
                has with respect to its business that the Contractor must follow. Failure to disclose such policies or
                guidelines will render them ineffective against the Contractor.</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="5">
      <li class="c40 c29">
        <h2 id="h.17dp8vu" style="display:inline"><span class="c20 c5">E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONDITIONS
            OF SERVICE</span></h2>
      </li>
    </ol>
    <a id="t.37f938484c9b86db468960cb2b4fb5c3232f8a29"></a><a id="t.8"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="9">
              <li class="c16 c29"><span class="c4">E.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Confidentiality</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">The Contractor will keep all Confidential Information in confidence both
                during and after the term of this Agreement.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="10">
              <li class="c16 c29"><span class="c2">E.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confidential
                  Information</span></li>
            </ol>
            <p class="c16 c38 c41"><span class="c2"></span></p>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">Confidential Information means any written or verbal information that:</span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="3">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is connected with
                  the Company and is obtained from the Company or one of the Company&rsquo;s representatives;</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company
                  informs the Contractor that the Company considers it confidential and/or proprietary;</span></li>
              <li class="c16 c22"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is personal
                  information within the meaning of the Privacy Act 1988 (Cth); or</span></li>
              <li class="c16 c22"><span class="c2">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is included in
                  the definition of Confidential Information in the General Conditions.</span></li>
            </ol>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="11">
              <li class="c16 c29"><span class="c2">E.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Social Media</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">The Contractor agrees that during the Term and at all times after the end or
                termination of their Term, the Contractor:</span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="7">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Will refrain from
                  posting any Company affairs on any social media channel without the written approval of the Company;</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Will refrain from
                  making any negative comments about the Company, its personnel or its customers on any social media
                  channel; and</span></li>
              <li class="c16 c22"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Will promptly
                  bring to the Company&rsquo;s attention any material on social media channels which is relevant to the
                  Company (such as negative comments).</span></li>
            </ol>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="12">
              <li class="c16 c29"><span class="c2">E.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non-Disparagement</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2">The Contractor agrees that during the Term and at all times after the end
                or termination of their Term, the Contractor will not:</span></p>
            <p class="c3"><span class="c2"></span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="10">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take any action
                  which is intended, or would reasonably be expected, to harm the Company or its reputation or which
                  would reasonably be expected to lead to unwanted or unfavourable publicity to the Company; or</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Make any negative
                  comment about the Company.</span></li>
            </ol>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="13">
              <li class="c16 c29"><span class="c2">E.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Client
                  Communications</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c31"><span class="c2">The Contractor agrees that during the Term and at all times after the end
                or termination of their Term, the Contractor: </span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="12">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Will not contact
                  clients of the Company without the prior approval of the Company; and</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If required by
                  the Company, to have contact with a client of the Company, the Contractor shall do so on behalf of
                  the Company in an appropriate and professional manner.</span></li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="6">
      <li class="c40 c29">
        <h2 id="h.26in1rg" style="display:inline"><span class="c20 c5">F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INTELLECTUAL
            PROPERTY</span></h2>
      </li>
    </ol>
    <a id="t.f8e5247287819feeeaa5d08824ef334a75f3562f"></a><a id="t.9"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="14">
              <li class="c16 c29"><span class="c4">F.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Background IP of the Contractor</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="14">
              <li class="c16 c22"><span class="c4">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For the purposes
                  of this clause, </span><span class="c5 c4">Background IP</span><span class="c2">&nbsp;means all
                  Intellectual Property of the Contractor incorporated in the Services.</span></li>
              <li class="c16 c22"><span class="c4">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Any Intellectual
                  Property generated by the Contractor in the process of providing the Services (</span><span class="c4 c5">New
                  IP</span><span class="c2">) is owned absolutely by the Company and vests in the Company immediately
                </span></li>
            </ol>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="15">
              <li class="c16 c29"><span class="c2">F.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assignment of New
                  IP to the Company</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="16">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To the extent
                  that the Contractor may at any time acquire any right, title or interest in the New IP in or from the
                  Services, the Contractor, by this document, agrees to assign to the Company all such rights, title
                  and interest to the New IP.</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company
                  acknowledges that the Contractor retains ownership of all of the Contractor&#39;s Background IP.</span></li>
              <li class="c16 c22"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor
                  grants the Company a non&ndash;exclusive, perpetual, non&ndash;transferable, royalty free and
                  worldwide licence to use, for the purposes of its day to day business, the Contractor Background IP
                  to the extent that it is contained within the Services.</span></li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3" id="h.lnxbz9"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="7">
      <li class="c40 c29">
        <h2 id="h.35nkun2" style="display:inline"><span class="c20 c5">G&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POST-CONTRACT
            CONDITIONS</span></h2>
      </li>
    </ol>
    <a id="t.95e7b56c82ed5660a220c9fc58e3ebf6fb9d75cd"></a><a id="t.10"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="16">
              <li class="c16 c29"><span class="c4">G.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Restraint &amp; Non-Compete</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">Subject to the General Conditions, the Contractor agrees during and after
                the term of this Agreement, the Contractor will refrain from competing with the Company in the
                Restraint Area for the Restraint Period, without the written consent of the Company.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="17">
              <li class="c16 c29"><span class="c2">G.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restraint Area
                  &amp; Restraint Periods</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16 c52"><span class="c2">Subject to the General Conditions:</span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="19">
              <li class="c16 c22"><span class="c5 c4">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restraint Area</span><span
                  class="c2">&nbsp;means the maximum enforceable area of:</span></li>
            </ol>
            <ol class="c17 lst-kix_6r4t08o7wtxr-3 start" start="1">
              <li class="c16 c23"><span class="c2">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Worldwide;</span></li>
              <li class="c16 c23"><span class="c2">(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;North America;</span></li>
              <li class="c16 c23"><span class="c2">(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Central &amp;
                  South America;</span></li>
              <li class="c16 c23"><span class="c2">(iv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Europe;</span></li>
              <li class="c16 c23"><span class="c2">(v)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asia;</span></li>
              <li class="c16 c23"><span class="c2">(vi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Africa;</span></li>
              <li class="c16 c23"><span class="c2">(vii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Australasia/Oceania;</span></li>
              <li class="c16 c23"><span class="c2">(viii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Australia;</span></li>
              <li class="c16 c23"><span class="c2">(ix)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Zealand;</span></li>
              <li class="c16 c23"><span class="c2">(x)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA;</span></li>
              <li class="c16 c23"><span class="c2">(xi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Canada;</span></li>
              <li class="c16 c23"><span class="c2">(xii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mexico;</span></li>
              <li class="c16 c23"><span class="c2">(xiii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brazil;</span></li>
              <li class="c16 c23"><span class="c2">(xiv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Argentina;</span></li>
              <li class="c16 c23"><span class="c2">(xv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UK;</span></li>
              <li class="c16 c23"><span class="c2">(xvi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ireland;</span></li>
              <li class="c16 c23"><span class="c2">(xvii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;France;</span></li>
              <li class="c16 c23"><span class="c2">(xviii)Germany;</span></li>
              <li class="c16 c23"><span class="c2">(xix)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Italy;</span></li>
              <li class="c16 c23"><span class="c2">(xx)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spain;</span></li>
              <li class="c16 c23"><span class="c2">(xxi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Russia;</span></li>
              <li class="c16 c23"><span class="c2">(xxii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;China &amp;
                  Hong Kong;</span></li>
              <li class="c16 c23"><span class="c2">(xxiii)Japan;</span></li>
              <li class="c16 c23"><span class="c2">(xxiv)Singapore;</span></li>
              <li class="c16 c23"><span class="c2">(xxv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indonesia;
                  and/or</span></li>
              <li class="c16 c23"><span class="c2">(xxvi)South Africa.</span></li>
            </ol>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="20">
              <li class="c16 c22"><span class="c5 c4">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restraint
                  Period</span><span class="c2">&nbsp;means the maximum enforceable period of:</span></li>
            </ol>
            <ol class="c17 lst-kix_6r4t08o7wtxr-3 start" start="1">
              <li class="c16 c23"><span class="c2">(xxvii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;36 months;</span></li>
              <li class="c16 c23"><span class="c2">(xxviii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24 months;</span></li>
              <li class="c16 c23"><span class="c2">(xxix)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12 months;</span></li>
              <li class="c16 c23"><span class="c2">(xxx)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9
                  months;</span></li>
              <li class="c16 c23"><span class="c2">(xxxi)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6 months;</span></li>
              <li class="c16 c23"><span class="c2">(xxxii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3 months;</span></li>
              <li class="c16 c23"><span class="c2">(xxxiii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 months;
                  and/or</span></li>
              <li class="c16 c23"><span class="c2">(xxxiv)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 month;</span></li>
            </ol>
            <p class="c9"><span class="c2">after the end of this Agreement.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="18">
              <li class="c16 c29"><span class="c2">G.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non-Solicitation</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c9"><span class="c2">Without the written consent of the Company, the Contractor agrees that for a
                period of 1 year after the end of this Agreement, he or she shall not:</span></p>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="21">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solicit the
                  custom of any customer of the Company that had been a customer at any time during the term of the
                  Contractor&rsquo;s employment; or</span></li>
              <li class="c16 c22"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solicit the
                  services of any employee, contractor or service Contractor of the Company that had been such during
                  the term of the Contractor&rsquo;s employment.</span></li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="8">
      <li class="c40 c29">
        <h2 id="h.z337ya" style="display:inline"><span class="c20 c5">H&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENDING
            THE SERVICES AND/OR THIS AGREEMENT</span></h2>
      </li>
    </ol>
    <a id="t.eab7d6ee4ecc6b8b07f500fdcd96c5317b9feb2c"></a><a id="t.11"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="19">
              <li class="c16 c29"><span class="c4">H.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Termination</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="23">
              <li class="c16 c22"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Either Party may
                  terminate this Agreement on immediate written notice if:</span></li>
            </ol>
            <ol class="c17 lst-kix_9rnes2644pvy-3 start" start="1">
              <li class="c16 c23"><span class="c2">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The other party
                  is in breach of this Agreement and does not remedy the breach within 5 Business Days&rsquo; of
                  receiving written notice of the breach;</span></li>
              <li class="c16 c23"><span class="c2">(ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The other party
                  commits a breach of this Agreement that is incapable of remedy; and/or</span></li>
              <li class="c16 c23"><span class="c2">(iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The other party
                  repetitiously or wilfully breaches this Agreement.</span></li>
            </ol>
            <ol class="c17 lst-kix_9rnes2644pvy-2" start="24">
              <li class="c16 c22" id="h.1y810tw"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Both
                  parties may terminate this Agreement for convenience by giving 4 weeks&rsquo; written notice.</span></li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3"><span class="c2"></span></p>
    <ol class="c17 lst-kix_9rnes2644pvy-0" start="9">
      <li class="c40 c29">
        <h2 id="h.4i7ojhp" style="display:inline"><span class="c20 c5">I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEGAL
            LOCATION</span></h2>
      </li>
    </ol>
    <a id="t.37d549463ec5080c30e6143a3f873a0a1afbcb20"></a><a id="t.12"></a>
    <table class="c18">
      <tbody>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="20">
              <li class="c16 c29"><span class="c4">I.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                  class="c2">Legal Location</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16 c54"><span class="c2">Western Australia, Australia.</span></p>
          </td>
        </tr>
        <tr class="c8">
          <td class="c15" colspan="1" rowspan="1">
            <ol class="c17 lst-kix_9rnes2644pvy-1" start="21">
              <li class="c16 c29"><span class="c2">I.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reference City</span></li>
            </ol>
          </td>
          <td class="c33" colspan="1" rowspan="1">
            <p class="c16 c54"><span class="c2">Perth.</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="c3 html2pdf__page-break"><span class="c2 "></span></p>

    <h1 class="c24" id="h.5it3yxb55o6"><span class="c19 c5 c36">GENERAL CONDITIONS</span></h1>
    <ol class="c17 lst-kix_q8ugnwew73pj-0 start" start="1">
      <li class="c6">
        <h2 id="h.1ci93xb" style="display:inline"><span class="c5 c26 c57">1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
            class="c20 c5">INTERPRETATION</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          following definitions apply in this document:</span></li>
    </ol>
    <ol class="c17 lst-kix_gtarf41jibja-2 start" start="1">
      <li class="c11"><span class="c5 c4">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABN </span><span class="c2">means
          Australian Business Number.</span></li>
      <li class="c11"><span class="c5 c4">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACN </span><span class="c2">means
          Australian Company Number.</span></li>
      <li class="c11"><span class="c5 c4">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreement </span><span
          class="c2">means this Contractor Agreement.</span></li>
      <li class="c11"><span class="c5 c4">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business Day </span><span
          class="c2">means a day (other than a Saturday, Sunday or public holiday) on which banks are open for general
          banking business in the Reference City in the Legal Location.</span></li>
      <li class="c11" id="h.2bn6wsx"><span class="c5 c4">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confidential
          Information</span><span class="c2">&nbsp;has the meaning set out in the Particulars but does not include
          information that the Contractor can establish:</span></li>
    </ol>
    <ol class="c17 lst-kix_gtarf41jibja-3 start" start="1">
      <li class="c42"><span class="c2">i&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was in the public domain at the
          time it was given to the Contractor;</span></li>
      <li class="c42"><span class="c2">ii&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;became part of the public
          domain, without the Contractor&rsquo;s involvement in any way, after being given to the Contractor;</span></li>
      <li class="c42"><span class="c2">iii&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was in the Contractor&#39;s
          possession when it was given to the Contractor, without having been acquired (directly or indirectly) from
          the Company; or</span></li>
      <li class="c42"><span class="c2">iv&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;was received from another
          person who had the unrestricted legal right to disclose that information free from any confidentiality
          obligation.</span></li>
    </ol>
    <ol class="c17 lst-kix_gtarf41jibja-2" start="6">
      <li class="c11"><span class="c5 c4">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General Conditions </span><span
          class="c2">means the section of this Agreement entitled &ldquo;General Conditions&rdquo;.</span></li>
      <li class="c11"><span class="c5 c4">(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GST</span><span class="c4">&nbsp;has
          the same meaning as in </span><span class="c4 c26">A New Tax System (Goods and Services Tax) Act</span><span
          class="c4">&nbsp;</span><span class="c4 c26">1999</span><span class="c2">&nbsp;(Cth).</span></li>
      <li class="c11"><span class="c5 c4">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legal Location</span><span
          class="c2">&nbsp;means the legal location set out in the Particulars.</span></li>
      <li class="c11"><span class="c5 c4">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Particulars </span><span
          class="c2">means the section of this Agreement entitled &ldquo;Particulars&rdquo;.</span></li>
      <li class="c11"><span class="c5 c4">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Special Conditions </span><span
          class="c2">means the provisions set out in, attached to or made by reference to this Agreement entitled
          &ldquo;Special Conditions&rdquo;.</span></li>
      <li class="c11"><span class="c5 c4">(k)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tax Invoice </span><span
          class="c4">has the same meaning as in </span><span class="c4 c26">A New Tax System (Goods and Services Tax)
          Act</span><span class="c4">&nbsp;</span><span class="c4 c26">1999</span><span class="c2">&nbsp;(Cth).</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="2">
      <li class="c12" id="h.qsh70q"><span class="c2">1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Headings are
          only for convenience and do not affect interpretation. &nbsp;The following rules apply unless the context
          requires otherwise:</span></li>
    </ol>
    <ol class="c17 lst-kix_f8uehs1zffdj-2 start" start="1">
      <li class="c11" id="h.3as4poj"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The singular
          includes the plural and the opposite also applies.</span></li>
      <li class="c11" id="h.1pxezwc"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If a word or
          phrase is defined, any other grammatical form of that word or phrase has a corresponding meaning.</span></li>
      <li class="c11" id="h.49x2ik5"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
          a clause refers to clauses in this Agreement.</span></li>
      <li class="c11" id="h.2p2csry"><span class="c2">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
          legislation is to that legislation as amended, re-enacted or replaced, and includes any subordinate
          legislation issued under it.</span></li>
      <li class="c11" id="h.147n2zr"><span class="c4">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentioning
          anything after </span><span class="c4 c26">includes</span><span class="c4">, </span><span class="c4 c26">including</span><span
          class="c2">, or similar expressions, does not limit anything else that might be included. </span></li>
      <li class="c11" id="h.3o7alnk"><span class="c4">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
          a </span><span class="c4 c26">party</span><span class="c2">&nbsp;to this Agreement or another agreement or
          document includes that party&rsquo;s successors and permitted substitutes and assigns (and, where applicable,
          the party&rsquo;s legal personal representatives).</span></li>
      <li class="c11" id="h.23ckvvd"><span class="c4">(g)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
          a </span><span class="c4 c26">person</span><span class="c4">, </span><span class="c4 c26">corporation</span><span
          class="c4">, </span><span class="c4 c26">trust</span><span class="c4">, </span><span class="c4 c26">partnership</span><span
          class="c4">, </span><span class="c4 c26">unincorporated body</span><span class="c2">&nbsp;or other entity
          includes any of them.</span></li>
      <li class="c11" id="h.ihv636"><span class="c4">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
        </span><span class="c4 c26">information</span><span class="c2">&nbsp;is to information of any kind in any form
          or medium, whether formal or informal, written or unwritten, for example, computer software or programs,
          concepts, data, drawings, ideas, knowledge, procedures, source codes or object codes, technology or trade
          secrets.</span></li>
      <li class="c11" id="h.32hioqz"><span class="c4">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A reference to
        </span><span class="c4 c26">dollars</span><span class="c4">&nbsp;or </span><span class="c4 c26">$</span><span
          class="c2">&nbsp;is to an amount in Australian currency.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="2">
      <li class="c6">
        <h2 id="h.1hmsyys" style="display:inline"><span class="c20 c5">2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RELATIONSHIP</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          Contractor warrants that it is an independent service Contractor to the Company and that it is not an
          employee or partner of the Company in any way.</span></li>
      <li class="c12"><span class="c2">2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor will not:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hold itself out as an agent
          of the Company; or </span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;incur obligations or
          liabilities on behalf of the Company unless the Company provides written permission.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="3">
      <li class="c6">
        <h2 id="h.41mghml" style="display:inline"><span class="c20 c5">3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTRACTOR&rsquo;S
            KEY OBLIGATIONS</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          Contractor will:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ensure that the Services are
          complete and provided in a timely manner and/or in accordance with any timeframes agreed by the parties;</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ensure that the Services are
          provided in accordance with the standards outlined in this Agreement;</span></li>
      <li class="c11"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;establish and maintain clear
          channels of communication at all times with the Company, and promptly answer any questions asked by the
          Company;</span></li>
      <li class="c11"><span class="c2">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comply with all the relevant
          laws and industry standards in respect of providing the Services; and</span></li>
      <li class="c11"><span class="c2">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;act in accordance with the
          Company&rsquo;s reasonable directions while providing the Services.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="4">
      <li class="c6">
        <h2 id="h.vx1227" style="display:inline"><span class="c20 c5">4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COMPANY&rsquo;S
            KEY OBLIGATIONS</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          Company will:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;establish and maintain clear
          channels of communication at all times with the Contractor;</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;promptly provide the
          Contractor with directions, instructions or information which are requested by the Contractor and which are
          reasonably required to assist the Contractor in the performance of its obligations under this document; and</span></li>
      <li class="c11"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;promptly provide the
          Contractor with a copy of all applicable policies, procedures, rules, regulations, standards of conduct and
          requirements relevant to the provision of the Services.</span></li>
    </ol>

    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="5">
      <li class="c6">
        <h2 id="h.3fwokq0" style="display:inline"><span class="c20 c5">5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INVOICING
            &amp; PAYMENT</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">If
          the Contractor does not provide a valid Tax Invoice (or does not supply the Company with its ABN) the Company
          may withhold from any payment made to the Contractor the amounts required for the Company to comply with the
        </span><span class="c4 c26">Taxation Administration Act 1953</span><span class="c2">&nbsp;(Cth) and related
          legislation.</span></li>
      <li class="c12"><span class="c2">5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All payments by the Company
          or other consideration for any supply by the Contractor to the Company under or in connection with this
          document include any GST for which the Contractor is liable on that supply, and the Contractor (and not the
          Company) is responsible for payment of that GST.</span></li>
      <li class="c12"><span class="c2">5.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company will be entitled
          to set off any amount owed to the Contractor against any amount payable by the Contractor to the Company.</span></li>
      <li class="c12"><span class="c2">5.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the Company fails to pay
          an amount due under this Agreement by a due date, the Contractor may charge interest on the overdue amount at
          no more than 10% per annum compounding daily.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="6">
      <li class="c6">
        <h2 id="h.4f1mdlm" style="display:inline"><span class="c20 c5">6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONFIDENTIALITY</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          Contractor must not:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use any of the Confidential
          Information except to the extent necessary to exercise its rights and perform its obligations under this
          Agreement; or</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;disclose any of the
          Confidential Information except in accordance with clauses 6.2 or 6.3.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="2">
      <li class="c12"><span class="c2">6.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor may disclose
          Confidential Information to its employees if:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the disclosure is required to
          enable the Contractor to perform its obligations or to exercise its rights under this document; and</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prior to disclosure, the
          Contractor informs the person of the Contractor&rsquo;s obligations in relation to the Confidential
          Information under this document;</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="3">
      <li class="c12"><span class="c2">6.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subject to clause 6.4, the
          Contractor may disclose Confidential Information that the Contractor is required to disclose:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by law or by order of any
          court or tribunal of competent jurisdiction; or</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by any Government Agency,
          stock exchange or other regulatory body.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="4">
      <li class="c12"><span class="c2">6.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If the Contractor is required
          to make a disclosure under clause 6.3, the Contractor must:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to the extent possible,
          notify the Company immediately it anticipates that it may be required to disclose any of the Confidential
          Information; and</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;only disclose Confidential
          Information to the extent necessary to comply.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="5">
      <li class="c12"><span class="c4">6.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company and the
          Contractor must each assist the other to comply with its obligations under the </span><span class="c4 c26">Privacy
          Act </span><span class="c2">1988 (Cth) in relation to Confidential Information.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="7">
      <li class="c6">
        <h2 id="h.28h4qwu" style="display:inline"><span class="c20 c5">7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WARRANTY
            AND INDEMNITY</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">The
          Contractor warrants the quality of the Services and shall ensure that all agreed deliverables and delivered
          in full and on-time.</span></li>
      <li class="c12"><span class="c2">7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Where the Contractor does not
          deliver the Services in full or on-time, the Contractor agrees that the Company may:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;require the Contractor to
          remedy the work in a timely manner; and</span></li>
      <li class="c11"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if the Contractor does not do
          so, the Company may:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-3 start" start="1">
      <li class="c42"><span class="c4">i</span><span class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;request
          that the Contractor cease the Services immediately; and</span></li>
      <li class="c42"><span class="c4">i</span><span class="c2">i&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engage
          a third-party to remedy the work without further notice to the Contractor.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="3">
      <li class="c12"><span class="c2">7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor agrees to
          indemnify the Company for any costs, losses or damages it incurs as a result of the Contractor&rsquo;s breach
          of this Agreement, including the costs of the Company enforcing the terms of this Agreement against the
          Contractor.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="8">
      <li class="c6">
        <h2 id="h.nmf14n" style="display:inline"><span class="c20 c5">8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DISPUTE
            RESOLUTION</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">8.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">If
          any dispute arises between the Company and the Contractor in connection with this Agreement (</span><span
          class="c5 c4">Dispute</span><span class="c4">), then either party may notify the other of the Dispute with a
          notice (</span><span class="c5 c4">Dispute Notice</span><span class="c2">) which:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;includes or is accompanied by
          full and detailed particulars of the Dispute; and</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is delivered within 10
          Business Days of the circumstances giving rise to the Dispute first occurring.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="2">
      <li class="c12"><span class="c2">8.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Within 10 Business Days after
          a Dispute Notice is given, a representative (with the authority to resolve the dispute) of the Company and
          Contractor must meet and seek to resolve the Dispute.</span></li>
      <li class="c12"><span class="c2">8.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subject to clause 8.4, a
          party must not bring court proceedings in respect of any Dispute unless it first complies with the
          requirements of the dispute resolution mechanism outlined in this clause.</span></li>
      <li class="c12"><span class="c2">8.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nothing in this clause
          prevents either party from instituting court proceedings to seek urgent injunctive, interlocutory or
          declaratory relief in respect of a Dispute.</span></li>
      <li class="c12"><span class="c2">8.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Despite the existence of a
          Dispute, the parties must continue to perform their respective obligations under this document and any
          related agreements.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="9">
      <li class="c6">
        <h2 id="h.1mrcu09" style="display:inline"><span class="c5 c20">9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POST-TERMINATION
            PROVISIONS</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">9.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">Immediately
          after the end of this Agreement (or the cessation of the provision of services), the Contractor:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;will return to the Company
          all of the Company&rsquo;s property; and</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;all the Company&rsquo;s
          property that the Contractor has, or can reasonably obtain, that contains Confidential Information.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="2">
      <li class="c12" id="h.2lwamvv"><span class="c2">9.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company
          may withhold final settlement of any monies owed to the Contractor until each of the provisions in item 9.1
          has been complied with.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="10">
      <li class="c6">
        <h2 id="h.111kx3o" style="display:inline"><span class="c20 c5">10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POST-CONTRACT
            RESTRAINT</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">10.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">During
          the Restraint Period and within or in respect of the Restraint Area (as defined in the Particulars), the
          Contractor must not directly or indirectly carry on or be:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;interested in any capacity;
          or</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;be employed or engaged in any
          capacity;</span></li>
    </ol>
    <p class="c10"><span class="c2">in any business or activity that is in direct competition with the Company (being
        an activity that seeks to provide comparable products and/or services to comparable customers in a comparable
        market).</span></p>
    <ol class="c17 lst-kix_q8ugnwew73pj-1" start="2">
      <li class="c12"><span class="c2">10.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each restraint contained in
          this clause resulting from any combination of the information set out in the Particulars, constitutes a
          separate and independent provision, severable from the other restraints. &nbsp;If a court of competent
          jurisdiction finally decides any such restraint to be unenforceable in whole or in part, the enforceability
          of the remainder of that restraint and any other restraint will not be affected.</span></li>
      <li class="c12"><span class="c2">10.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Contractor acknowledges
          and agrees that:</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-2 start" start="1">
      <li class="c11"><span class="c2">(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;each of the restraints
          contained in this clause is reasonable in scope and duration;</span></li>
      <li class="c11"><span class="c2">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is reasonably necessary to
          protect the goodwill and legitimate business interests of the Company; and</span></li>
      <li class="c11"><span class="c2">(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the remuneration and other
          benefits payable to the Contractor include consideration in respect of the Contractor&#39;s obligations under
          this clause.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="11">
      <li class="c6">
        <h2 id="h.3l18frh" style="display:inline"><span class="c20 c5">11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AMENDMENT
            AND ASSIGNMENT</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">11.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">This
          Agreement can only be amended, supplemented, replaced or novated by another agreement executed by the
          parties.</span></li>
      <li class="c12"><span class="c2">11.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The parties to this
          Agreement may only assign or otherwise create an interest in their rights under this document with the
          written consent of each other party.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="12">
      <li class="c6">
        <h2 id="h.206ipza" style="display:inline"><span class="c20 c5">12&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELECTRONIC
            COMMUNICATION &amp; NOTICES</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">12.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c4">The
          words in this clause that are defined in the </span><span class="c4 c26">Electronic Transactions Act 1999
        </span><span class="c2">(Cth) have the same meaning.</span></li>
      <li class="c12"><span class="c2">12.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The parties acknowledge and
          agree that this Agreement is binding upon each party if executed digitally and conveyed by electronic
          communication.</span></li>
      <li class="c12"><span class="c2">12.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A consent, notice or
          communication under this Agreement is effective if it is sent as an electronic communication unless required
          to be physically delivered under law.</span></li>
      <li class="c12"><span class="c2">12.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Notices must be sent to the
          parties&rsquo; contact details as specified in item A of the Parties.</span></li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-0" start="13">
      <li class="c6">
        <h2 id="h.4k668n3" style="display:inline"><span class="c20 c5">13&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GENERAL</span></h2>
      </li>
    </ol>
    <ol class="c17 lst-kix_q8ugnwew73pj-1 start" start="1">
      <li class="c12"><span class="c4">13.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class=" c4">Precedence.</span><span
          class="c2">&nbsp;To the extent that the Particulars are inconsistent with the General Conditions, the terms
          of the Particulars will prevail. To the extent that the Special Conditions are inconsistent with the
          Particulars, the Special Conditions will prevail.</span></li>
      <li class="c12"><span class=" c2">13.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disclaimer.</span><span
          class="c2">&nbsp; Each party acknowledges that it has not relied on any representation, warranty or statement
          made by any other party, other than as set out in this Agreement.</span></li>
      <li class="c12"><span class=" c2">13.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relationship. &nbsp;</span><span
          class="c2">The relationship of the parties to this Agreement does not form a joint venture or partnership.</span></li>
      <li class="c12"><span class=" c2">13.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waiver. </span><span class="c2">&nbsp;No
          clause of this Agreement will be deemed waived and no breach excused unless such waiver or consent is
          provided in writing.</span></li>
      <li class="c12"><span class=" c2">13.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Further Assurances. &nbsp;</span><span
          class="c4">Each party must do anything necessary (including executing agreements and documents) to give full
          effect to this Agreement and the transaction facilitated by it.</span></li>
      <li class="c12"><span class=" c2">13.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Governing Law. &nbsp;</span><span
          class="c4">This Agreement is governed by the laws of the state set out in the Legal Location. &nbsp;Each of
          the parties hereby submits to the non-exclusive jurisdiction of courts with jurisdiction there.</span></li>
      <li class="c12" id="h.1egqt2p"><span class=" c2">13.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
          class="c5 c4">Liability for Expenses.</span><span class="c2">&nbsp; Each party must pay its own expenses
          incurred in negotiating, executing, stamping and registering this Agreement.</span></li>
      <li class="c12" id="h.2dlolyb"><span class=" c2">13.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inconsistency.</span><span
          class="c2">&nbsp;If this Agreement is inconsistent with any other document or agreement between the parties,
          this document prevails to the extent of the inconsistency.</span></li>
      <li class="c12"><span class=" c2">13.9&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Counterparts. &nbsp;</span><span
          class="c4">This Agreement may be executed in any number of counterparts. &nbsp;All counterparts together will
          be taken to constitute one instrument.</span></li>
      <li class="c12"><span class=" c2">13.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5 c4">Time.</span><span
          class="c4">&nbsp; Time is of the essence in this Agreement.</span></li>
      <li class="c12"><span class=" c2">13.11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5 c4">Severability.</span><span
          class="c2">&nbsp; Any clause of this Agreement, which is invalid or unenforceable is ineffective to the
          extent of the invalidity or unenforceability without affecting the remaining clauses of this Agreement.</span></li>
    </ol>

  </body>
</div>


<div class='invoice' *ngIf="invoiceready" style="display:none">

  <body class="x31">
    <p class="x15 c11"><span class="x56"></span></p>
    <a id="t.74148ffcfff2e2f9266a378685325e8be4ee8cd6"></a><a id="t.0"></a>
    <table class="x32">
      <tbody>
        <tr class="x26">
          <td class="x48" colspan="4" rowspan="1">
            <p class="x1"><span class="x2"></span></p>
            <p class="x1"><span class="x2"></span></p>
          </td>
        </tr>
        <tr class="x17">
          <td class="x48" colspan="4" rowspan="1">
            <p class="x29"><span class="x12">TAX INVOICE</span></p>
            <p class="x29 c11"><span class="x12"></span></p>
          </td>
        </tr>
        <tr class="x17">
          <td class="x59" colspan="2" rowspan="1">
            <p class="x10"><span class="x16">Services provided to:</span></p>
            <p class="x10"><span class="x0">{{currentuser.firstname}}</span></p>
            <p class="x10"><span class="x0">{{currentuser.address}}</span></p>
            <p class="x10"><span class="x0">{{currentuser.city}}, {{currentuser.state}}, {{currentuser.postcode}}</span></p>
            <p class="x10"><span class="x0">AUSTRALIA</span></p>
            <p class="x10"><span class="x0">ABN: {{ABN}}</span></p>
            <p class="x10"><span>{{currentuser.email}}</span></p>
          </td>
          <td class="x9" colspan="1" rowspan="2">
            <p class="x10"><span class="x37">Invoice Date</span></p>
            <p class="x10"><span class="x0">{{selectjob.accept_date!==""? (selectjob.accept_date | date: 'dd MMMM
                yyyy'):(selectjob.createdAt | date: 'dd MMMM yyyy')}}</span></p>
            <p class="x8"><span class="x0"></span></p>
            <p class="x8"><span class="x16"></span></p>
            <p class="x10"><span class="x16">Reference</span></p>
            <p class="x10"><span>Jugglr Gig #{{selectjob.id}}</span><span>&nbsp;</span></p>
            <p class="x8"><span class="x16"></span></p>
          </td>
          <td class="x36" colspan="1" rowspan="2">
            <p class="x10"><span class="x16">Service Provider:</span></p>
            <p class="x10"><span class="x0">{{userwithselected.firstname}} {{userwithselected.lastname}}</span></p>
            <p class="x10"><span class="x0">{{userwithselected.suburb}} {{userwithselected.postcode}}</span></p>
            <p class="x10"><span class="x0">{{userwithselected.city}} {{userwithselected.state}}</span></p>
            <p class="x10"><span class="x0">Australia</span></p>
            <p class="x10"><span class="x0">{{userwithselected.email}}</span></p>
            <p class="x8"><span class="x0"></span></p>
          </td>
        </tr>
        <tr class="x35">
          <td class="x51" colspan="1" rowspan="1">
            <p class="x8"><span class="x0"></span></p>
          </td>
          <td class="x19" colspan="1" rowspan="1">
            <p class="x8"><span class="x0"></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="x11 c42"><span class="x0"></span></p>
    <a id="t.f43ae46b896ca0d15ef8ad78cc4e35e905e67668"></a><a id="t.1"></a>
    <table class="x38">
      <tbody>
        <tr class="x7">
          <td class="x30" colspan="1" rowspan="1">
            <p class="x10"><span class="x16">Description</span></p>
          </td>
          <td class="x45" colspan="1" rowspan="1">
            <p class="x6"><span class="x16">Quantity</span></p>
          </td>
          <td class="x3" colspan="1" rowspan="1">
            <p class="x6"><span class="x16">Regular Price</span></p>
          </td>
          <td class="x3" colspan="1" rowspan="1">
            <p class="x6"><span class="x16">Discount</span></p>
          </td>
          <td class="x40" colspan="1" rowspan="1">
            <p class="x6"><span class="x37">Unit Price</span></p>
          </td>
          <td class="x61" colspan="1" rowspan="1">
            <p class="x6"><span class="x16">Amount</span></p>
          </td>
        </tr>
        <tr class="x14">
          <td class="x23" colspan="1" rowspan="1">
            <p class="x10"><span>{{detailjobselected.need_serviceid==8?
                detailjobselected.offer_customservice:detailjobselected.need_customservice}}</span></p>
          </td>
          <td class="x52" colspan="1" rowspan="1">
            <p class="x6"><span>1</span></p>
          </td>
          <td class="x49" colspan="1" rowspan="1">
            <p class="x6"><span>$ {{detailjobselected.amount | number : '1.2-2'}}</span></p>
          </td>
          <td class="x49" colspan="1" rowspan="1">
            <p class="x6 c11"><span class="x0"></span></p>
          </td>
          <td class="x43" colspan="1" rowspan="1">
            <p class="x6 c11"><span class="x0"></span></p>
          </td>
          <td class="x28" colspan="1" rowspan="1">
            <p class="x6"><span class="x0">$ {{detailjobselected.amount | number : '1.2-2'}}</span></p>
          </td>
        </tr>
        <tr class="x14">
          <td class="x4" colspan="2" rowspan="4">
            <p class="x8"><span class="x0"></span></p>
            <p class="x5 c11"><span class="x0"></span></p>
          </td>
          <td class="x46" colspan="3" rowspan="1">
            <p class="x5"><span>Subtotal</span></p>
          </td>
          <td class="x57" colspan="1" rowspan="1">
            <p class="x6"><span>$ {{detailjobselected.amount | number : '1.2-2'}}</span></p>
          </td>
        </tr>
        <tr class="x14">
          <td class="x58" colspan="3" rowspan="1">
            <p class="x5"><span>Jugglr Fee </span></p>
          </td>
          <td class="x44" colspan="1" rowspan="1">
            <p class="x5"><span class="x0">$ {{detailjobselected.amount*0.0 | number : '1.2-2'}}</span></p>
          </td>
        </tr>
        <tr class="x14">
          <td class="x20" colspan="3" rowspan="1">
            <p class="x5"><span class="x0">Total</span></p>
          </td>
          <td class="x21" colspan="1" rowspan="1">
            <p class="x5"><span>$ {{detailjobselected.amount*1.0 |number : '1.2-2'}}</span></p>
          </td>
        </tr>
        <tr class="x14">
          <td class="x33" colspan="3" rowspan="1">
            <p class="x5"><span class="x37">Total Amount </span><span class="x16">Paid</span></p>
          </td>
          <td class="x47" colspan="1" rowspan="1">
            <p class="x6 c11"><span class="x16"></span></p>
            <p class="x6"><span class="x16">$ {{detailjobselected.amount*1.0 | number : '1.2-2'}}</span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="x8 c53">

      <span class="x0">Note: {{detailjobselected.offer_note?detailjobselected.offer_note:detailjobselected.need_note}}
      </span></p>
    <p class="x8 c53"><span class="x0">
        For additional information regarding this gig please refer to contract #{{detailjobselected.id}}.
      </span></p>
    <div>
    </div>
  </body>
</div>