<div class="container addjob-container" >

  <div class="nav nav-tabs navtabnopadding col-7 jugglrvan ">

    <a id="a1" class="btn nav-link active" (click)="professionals()">Professionals</a>
    <a id="a2" class="btn nav-link" (click)="businesses()">Businesses </a>
  </div>
  <div class="tab-pane h-100 col-12 col-md-8 nscroll-ele" *ngIf="showtype==1" infiniteScroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="1000" (scrolled)="onPageScroll()" [scrollWindow]="true" [fromRoot]="true" > <!--style="height: calc( 100vh - 140px) !important;" -->
      <div class="  border-1 border-bottom border-top w-100" *ngIf="ubusinesses.length==0">

          <div class="row justify-content-center">
            <div class="col-10" style="padding-left:10px;padding-right:10px;">
              <br><br>
    
              In this section you will find businesses and professionals you added to your network in Jugglr.
              <br><br><br>
    
            </div>
            <div class="col-12 justify-content-center">
    
              <div (click)="hiretalent()" class="btn jugglr-tagx-main">Hire Talent</div>
            </div>
            <div class="col-12 justify-content-center">
              <br>
              <div (click)="addgig()" class="btn jugglr-tagx-new">Post Gig</div>
              <br>
              <br>
              <br>
    
            </div>
          </div>
        </div>
        
    <div class="row" *ngFor="let xuser of uprofessionals; let i = index">

      <div class="card itemcardj w-100 shadow  bg-white rounded">
        <div class="row m-0 ">
          <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle ">
            <div class="coldatecontentcheck mx-auto my-auto">
              <img (click)="goUserDetail(xuser.user_id)" [src]="xuser.profile_image" onerror="this.src='../../../assets/defaultprofile.png';"
                class="rounded-circlex jugglr-profile-img jugglr-profile-imguserswithskill">
            </div>
          </div>

          <div class="col tododetail">


            <div class="row w-100 usernamerow">
              <h5>{{xuser.name}} </h5>

            </div>
            <div class="row d-inline-flex rowserviceoffered justify-content-center">
              <div class="" *ngFor="let ser of xuser['subservice_offered']">
                <small class=" subserviceoffer">{{ser['subservice_name']}}</small>
              </div>
            </div>
            <div class="row w-100 rowtexttodo justify-content-left float-left">
              <div class="marketplaceratingandlikes col-9  float-left">


                <div class="marketplaceratingandlikesitem float-left align-bottom" style="  border-right: 0px;">
                  <small>
                    < {{xuser.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;
                  </small>
                </div>

              </div>
              <div class="col-3">
                <li class="fas fa-2x fa-users likebtn float-right" *ngIf="!xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
                <li class="fas fa-2x fa-users likebtn active float-right" *ngIf="xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>

              </div>
            </div>



          </div>

        </div>
      </div>
    
   </div>
  </div>
  <div class="tab-pane h-100 col-12 col-md-8" *ngIf="showtype==2" infiniteScroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="1000" (scrolled)="onPageScroll()" [scrollWindow]="true" [fromRoot]="true" >
    <div class="  border-1 border-bottom border-top w-100" *ngIf="ubusinesses.length==0">

      <div class="row justify-content-center">
        <div class="col-10" style="padding-left:10px;padding-right:10px;">
          <br><br>

          In this section you will find businesses and professionals you added to your network in Jugglr.
          <br><br><br>

        </div>
        <div class="col-12 justify-content-center">

          <div (click)="hiretalent()" class="btn jugglr-tagx-main">Hire Talent</div>
        </div>
        <div class="col-12 justify-content-center">
          <br>
          <div (click)="addgig()" class="btn jugglr-tagx-new">Post Gig</div>
          <br>
          <br>
          <br>

        </div>
      </div>
    </div>
    <div class="row" *ngFor="let xuser of ubusinesses; let i = index"   >

      <div class="card itemcardj w-100 shadow  bg-white rounded">
        <div class="row m-0 ">
          <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle ">
            <div class="coldatecontentcheck mx-auto my-auto">
              <img (click)="goUserDetail(xuser.user_id)" [src]="xuser.profile_image" onerror="this.src='../../../assets/defaultprofile.png';"
                class="rounded-circlex jugglr-profile-img jugglr-profile-imguserswithskill">
            </div>
          </div>

          <div class="col tododetail">


            <div class="row w-100 usernamerow">
              <h5>{{xuser.name}} </h5>

            </div>
            <div class="row d-inline-flex rowserviceoffered justify-content-center">
              <div class="" *ngFor="let ser of xuser['subservice_offered']">
                <small class=" subserviceoffer">{{ser['subservice_name']}}</small>
              </div>
            </div>
            <div class="row w-100 rowtexttodo justify-content-left float-left">
              <div class="marketplaceratingandlikes col-9  float-left">


                <div class="marketplaceratingandlikesitem float-left align-bottom" style="  border-right: 0px;">
                  <small>
                    < {{xuser.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp;
                  </small>
                </div>

              </div>
              <div class="col-3">
                <li class="fas fa-2x fa-users likebtn float-right" *ngIf="!xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
                <li class="fas fa-2x fa-users likebtn active float-right" *ngIf="xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>

              </div>
            </div>



          </div>

        </div>
      </div>
    </div>

  </div>
</div>