<div class=" addjob-container">
  <div class="row justify-content-center">
      <div class="col-12">
        <h5>PROFESSIONALS AVAILABLE IN SELECTED AREA</h5>
      </div>
    <div class="col-12">
        <div class="input-group mb-3 col-8 col-sm-10 float-left">
            <small>Change address to find professionals in other areas</small>
            <input id="address-input" type="text" [(ngModel)]="jobcurrentlocation" name="Location" class="form-control form-control-noborder" placeholder="Enter area or full address">
        </div>
        <div class="input-group mb-3 col-4 col-sm-2">
            <small>Select Radius</small>
            <select id="address-radius-input" [(ngModel)]="distance" class="form-control form-control-noborder" (change)="onchangeradius($event.target.value)">
              <option *ngFor="let rad of radiusArray" [value]="rad.id">{{rad.name}} KM</option>
            </select>
        </div>
        <div class="col-12 analytic-google-map-div-container">
          <div #gmap class="analytic-google-map-div"></div>
      </div>
    </div>

    <div class="col-12">
      <small>Click on bars to show details</small>
    </div>

    <div class="col-12">
      <chart [type]="topservice['type']" [data]="topservice['data']" [options]="topservice['options']" *ngIf="topservice!=null"></chart>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-12">
        <h5>MOST ACTIVE PROFESSIONALS IN SELECTED AREA</h5>
        <small>Click on bars to show details</small>
      </div>
  
      <div class="col-12">
        <chart [type]="topactive['type']" [data]="topactive['data']" [options]="topactive['options']" *ngIf="topactive!=null"></chart>
      </div>
    </div>
</div>