<div class="row addjob-container justify-content-center">
  <div class="container ">
    <div>
      <h1 class="text-center">Hire Talent</h1>
    </div>





    <div class="row  justify-content-center">

      <div class="row container justify-content-center">
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1519618946.150061.jpg" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$75/hr</span>
            <h5 class="card-text name">Melissa W</h5>
            <p class="card-text type">Social Media Marketing</p>
            <p class="card-text discription">I am a professional mother with 10 years social media marketing experience looking for part-time work</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P2_Jaymi.png?alt=media&token=294bd5d6-f052-4bc3-905c-503c7ca4e232"  alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$25/hr</span>
            <h5 class="card-text name">Emily F</h5>
            <p class="card-text type">Admin Support</p>
            <p class="card-text discription">I'm skilled in supporting business back office and operational activities. Can work from 2hr to 10hr per week.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P3_Gaby.jpeg?alt=media&token=be10aac4-a8c4-401a-aebe-4b3baf1b274f"  alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$25/hr</span>
            <h5 class="card-text name">Amy J</h5>
            <p class="card-text type">Sales Reps</p>
            <p class="card-text discription">I can sell products and services over the phone from home or office or door-to-door. 10 years experience as sales rep.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P4_Neha.jpg?alt=media&token=74fd99e1-4203-44d3-bd4b-7ce448018a2f" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$65/hr</span>
            <h5 class="card-text name">Emma S</h5>
            <p class="card-text type">Web Design</p>
            <p class="card-text discription">I can create custom websites to suit your specific business needs. Experience in business and eCommerce websites.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P5_Sonia.jpg?alt=media&token=da1317db-75ea-4930-83e4-7fd0f61ad0fa" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$50/hr</span>
            <h5 class="card-text name">Jessica A</h5>
            <p class="card-text type">Event Planning</p>
            <p class="card-text discription">Creating exceptional events is what I love to do! Corporate function specialist with 15 years experience in event styling, planning & management in Perth and WA.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P6_Nadia.jpeg?alt=media&token=fac7589e-2fc6-4024-8d1a-33a677f0a6a3" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price ">$50/hr</span>
            <h5 class="card-text name">Rebecca M</h5>
            <p class="card-text type">Business Development</p>
            <p class="card-text discription">You have a great business and I can help you grow it. Over 10 years experience in business development and sales, both B2B and B2C.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/Admin%20Support%20Mum_400x400pxls_F.jpg?alt=media&token=ddc67ceb-badb-400e-bd28-307ded96a98d" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "></span>
            <h5 class="card-text name"><br> </h5>
            <div class=" card-text type" >Sign in to access more local talent<br><br>
            </div>
            <p class="card-text discription">
              <a class="btn jugglr-btn-browsejobs" (click)="signin()">Sign in </a>
            </p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/Admin%20Support%20Mum_400x400pxls_F.jpg?alt=media&token=ddc67ceb-badb-400e-bd28-307ded96a98d" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "></span>
            <h5 class="card-text name"><br> </h5>
            <div class=" card-text type" >Sign in to access more local talent<br><br>
            </div>
            <p class="card-text discription">
              <a class="btn jugglr-btn-browsejobs" (click)="signin()">Sign in </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
