
.jugglr-tag-new{
  float: right;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    background: #EBD1CA;
    
    color: #2A3E54;
    position: absolute;
    margin-left: -15px;
    margin-top: -5px;
}
.jugglr-tagx-main{
  min-width: 140px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  background: #2a3E54;
  border-color:#2a3E54;
  border-width: 1px;
  color: #EBD1CA;
  margin-bottom: 0px;

}
.jugglr-tagx-main:hover{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  background: #EBD1CA;
  border-color:#2a3E54;
  border-width: 1px;
  color: #2a3E54;
}
.jugglr-tagx-new{
  min-width: 140px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  background: #86A6B2;
  border-color:#86A6B2;
  border-width: 1px;
  color: #2a3E54;
  margin-bottom: 0px;

}
.jugglr-tagx-new:hover{
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  background: #EDE2D2;
  border-color:#2a3E54;
  border-width: 1px;
  color: #FFFFFF;
}
.chatprofilelist{
    height: 100%;
}
.jugglr-profile-img{
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
 
  .jugglr-company-img{
    width: 80px;
    height: 80px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-background{
    width: 94px;
    height: 94px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .circle-img-background-company{
    width: 94px;
    height: 94px;
    margin: auto;
    padding: 2px;
    border: 5px solid #323a45;
    border-radius: 0;
  }
  .textoll{
      padding: 0;
      padding-left: 10px;
      text-align: left;
      margin: auto;
      font-size: 20px;
  }
  .card-body{
      padding: 0;
  }

  
  .jugglr-profile-img{
    width: 90px!important;
    height: 90px!important;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-background{
    width: 104px;
    height: 104px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .jugglr-profile-img2{
    width: 70px!important;
    height: 70px!important;
  }
  .usernametext{
    font-size: 16px;
    font-family: 'Lato', sans-serif, 'Lato';
    font-weight: 400!important;
  }
  .jobdetailtitle{
    font-size: 26px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
  }
  .jobdetailprice{
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif, 'Lato';
    font-weight: 300!important;
  }
  .card-deck{
    padding: 20px;
    flex-direction: row;
  }
  .jobdetailnote{
    text-align: left;
  }
  .card-deck span{
    font-weight: 200!important;
  }
  .marketplaceratingandlikes{
    font-size: 13px;
  
    font-family: 'Lato', sans-serif, 'Lato';
    font-weight: 300!important;
    padding-left: 0;
  }
  .marketplaceratingandlikesitem{
    border-right: 1px solid #c7c8c9;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    font-family: 'Lato', sans-serif, 'Lato';
    font-weight: 400!important;
    font-size: 13px;
  
  }
  .marginauto{
    margin: auto;
  }
  .card-deck.card-decklast{
    padding: 0px;
  }
  .chatformfixbottom{
  
  }
  .commentsection{
    margin-top: 30px;
  }
  .commentname{
    text-align: left;
    font-weight: 400!important;
    font-size: 13px;
  }
  .container{max-width:1170px; margin:auto;}
  img{ max-width:100%;}
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
  }
  .inbox_msg {
    clear: both;
    overflow: hidden;
  }
  .top_spac{ margin: 20px 0 0;}
  
  
  .recent_heading {float: left; width:40%;}
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
  }
  .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
  
  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
  
  .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
  .chat_ib h5 span{ font-size:13px; float:right;}
  .chat_ib p{ font-size:14px; color:#989898; margin:auto}
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }
  
  .chat_people{ overflow:hidden; clear:both;}
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .inbox_chat { height: 100%; overflow-y: scroll;}
  
  .active_chat{ background:#ebebeb;}
  
  .incoming_msg_img {
    display: inline-block;
    width: 6%;
    border-radius: 0;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 10px;
    margin: 1px 0 8px;
  }
  .received_withd_msg { width: 57%;}
  .mesgs {
    float: left;
    padding: 5px 15px 0 15px;
    width: 100%;
  }
  
  .sent_msg p {
    background: #2A3E54 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
  }
  .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
  .sent_msg {
    float: right;
    width: 46%;
  }
  .input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 68px;
    width: calc(100% - 34px);
  }
  
  .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
  .msg_send_btn {
    background: #2A3E54 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .messaging {
    text-align: left;
  }
  .msg_history {
    height: 100%;
    
    overflow-y:auto;
  }
  .jobdetailacceptjob{
    background: #2A3E54;
  }
  .formaccept{
    text-align: left;
  }
  .pinktext{
    color: #2A3E54;
  }
  .jugglr-btn-acceptjob{
    min-width: 150px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    border-radius: 25px;
    background: #2A3E54;
    border-color:#2A3E54;
    border-width: 2px;
    color: #FFFFFF;
  }
  .jobdetailtitle{
    font-size: 26px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
  }
  .backbtn{
      float: left;
  }