.row3{
    margin-top: 30px;
}
.colitem{
    padding-left:20px;
    padding-right:20px;
}
.rowimg{
    margin-bottom: 20px;
}
.rowtitle{
    margin-top :40px;
    margin-bottom: 30px;
}

.sponsorrow {
    margin: auto;
  padding: auto;
    box-shadow: inset 0 -5px 0 2px rgba(0,0,0,.2);
}
.featuredin{
  margin: auto;
  margin-left: 20px;
  padding: 30px;
  color: #f8f9fa;
  display: block;
  text-align: center;

}
.featuredin h2{
  line-height: 27px;
  font-size: 19px;
  font-weight: 400;
}
.sponsorrow .col-2{
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;

}
.short-hiw .content1{
  
  border-left: 4px solid #86A6B2;

}
.short-hiw .content0.title{
   text-align: center;
 }
.short-hiw .content0.title h2{
  
}
.short-hiw .content1 h4{
  
}
.short-hiw .content1 p{
 
}
.short-hiw .content0{
 
  border-right: 0px solid #86A6B2;
}
.short-hiw {
  margin: auto;
  padding: 10px;
 
}
.featured-hiw {
  display: flex;
  color: #86A6B2FFF;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
  min-height: 175px;
}
.short-hiw h2{
 
}
.short-hiw p{
 
}
.servicesoffered-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jobsoffered-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jugglr-carousel-container{
  margin-top: 40px;
  height: 400px;
}

@media (min-width: 420px){

  .short-hiw{
    height: auto!important;
  }
  .featuredin{
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 250px) {

  .featuredin {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px){

  .featuredin {
    margin: 0;
    padding: 0;
    padding: 30px;
  }
}
@media (min-width: 1200px){
  .featuredin {
    padding-top: 50px;
  }

  .featuredin{
    display: block;
    text-align: center;

  }
}

.trustedtitel{
  font-weight: 700;
  color: #86A6B2;
  padding-top: 20px;

}
.container-visitor{
  margin: auto;
}
.howitworkimg{
  margin: auto;

}
.footersocilatlink{
  padding-left: 15px;
  color: #86A6B2;
}
.footer{
  display: flex;
  color: #86A6B2;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row;
  background: #2A3E54;
  box-shadow: inset 0 -5px 0 2px rgba(0,0,0,.2);

}
.footer .content2{
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
  border-right: 0px solid #86A6B2;
}
.jobsoffered-containerhowto{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
}
.imghowto{
  max-width: 100%;
}
.fa-4x{
    color:#86A6B2;
}