<div class="container addjob-container">
    <div class="row justify-content-center">
      <h1>Jugglr Business Premium</h1>
    </div>
    <div class="row justify-content-center">
      <h5>40% off, $30 per month</h5>
    </div>
    <div class="row row3 rowtitle justify-content-center">
      <h3>PREMIUM TOOLS</h3>
    </div>
    <div class="row row4 justify-content-center">
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-4x fa-toolbox"></i>
        </div>
        <div class="row justify-content-center">
          <p>End to end job management tools</p>
        </div>

      </div>
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-4x fa-file-alt"></i>
        </div>
        <div class="row justify-content-center">
          <p>Payment and invoicing system</p>
        </div>

      </div>
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-4x fa-check-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Unlimited gig posts</p>
        </div>

      </div>
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-4x fa-funnel-dollar"></i>
        </div>
        <div class="row justify-content-center">
          <p>No commissions on transactions</p>
        </div>

      </div>
      <div class="col-6 col-md-2 colitem">
        <div class="row  rowimg justify-content-center">
          <i class="far fa-4x fa-user-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Dispute management and resolution</p>
        </div>

      </div>

    </div>
  </div>

  <div class="row justify-content-center mb-3">
      <h3>EARLY ADOPTER BONUS</h3>
    </div>
    <div class="row rowtitle justify-content-center short-hiw">
      <div class="content0 item col-md-6 col-xl-4 text-right">
        <p>40% discount, $30 per month ($50 normal price)</p>

      </div>
      <div class="content1 item col-md-6 col-xl-4 text-left">
        <p>$50 ads credit to promote your offers on the Jugglr app</p>

      </div>

    </div>


    <div class="row rowtitle justify-content-center">
      <h3>VALUE GUARANTEE</h3>
    </div>
    <div class="row row4 justify-content-center">
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-4x fa-hand-holding-usd"></i>
        </div>
        <div class="row justify-content-center">
          <p>Money back guarantee</p>
        </div>

      </div>
      <div class="col-6 col-md-2 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-4x fa-times-circle"></i>
              </div>
        <div class="row justify-content-center">
          <p>Cancel anytime</p>
        </div>

      </div>


    </div>

    <div class="row rowtitle justify-content-center">

      <button (click)="handlePayment()" class="btn  jugglr-btn-next">
        Subscribe now
      </button>
  </div>


  <app-sponsors></app-sponsors>
  <app-footer></app-footer>
