.addjob-container{
   margin-left: 25px;
 }
 .tab-pane{
   margin-top: 5px;
 }
 .searchformd{
   margin-bottom: 0px!important;
 }
 .itemcardj{
   margin-bottom: 5px;
 }
 .jugglr-profile-img{
   width: 120px;
   height: 120px;
   margin: auto;
 }
 .nav-tabs .nav-link{
   background:#cccccc; 
   color: #444444;
   border-radius: 0;
 }
 .nav-tabs .nav-link.active{
   background: #3498DB;
   color: #FFFFFF;
 }
 .jugglr-company-img{
   width: 120px;
   height: 120px;
   margin: auto;
   border: 2px solid #2A3E54;
 }
 
 .fa-facebook-square:before{
   color: #2A3E54;
   margin-right: 5px;
   margin-left: 10px;
 }
 .nbmutualfriend{
 margin: auto!important;
 margin-top: 5px!important;
 }
 .mutualfriendsspan{
   font-family: 'Lato';
   font-size: 12px;
   font-weight: 300;
 }
 .jugglr-tag-new{
   min-width: 65px;
   padding-right: 10px;
   padding-left: 10px;
   margin-bottom: 10px;
   text-transform: uppercase;
   border-radius: 25px;
   background: #2A3E54;
   border-color:#2A3E54;
   border-width: 2px;
   color: #FFFFFF;
 }
 .detailcol2{
   padding-left: 15px;
   flex-grow: 100;
 }
 .marketplacepinktitle{
   font-size: 20px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #2A3E54;
   width: 100%;
   text-align: left;
   padding: 0;
   overflow-wrap: break-word;
   word-wrap: break-word;
   hyphens: auto;
   font-family: 'Lato', sans-serif;
   font-weight: 700!important;
 }
 .marketplaceprice{
   font-size: 20px;
   font-family: 'Lato', sans-serif, 'Lato';
   font-weight: 300!important;
 }
 .marketplacepostby{
   font-size: 12px;
   font-family: 'Lato', sans-serif, 'Lato';
   font-weight: 300!important;
 }
 .marketplaceratingandlikes{
   font-size: 12px;
   margin: auto;
   font-family: 'Lato', sans-serif, 'Lato';
   font-weight: 300!important;
   padding-left: 0;
 }
 .marketplaceratingandlikesitem{
   border-right: 1px solid #c7c8c9;
   padding-right: 5px;
   padding-left: 5px;
   float: left;
   font-family: 'Lato', sans-serif, 'Lato';
   font-weight: 400!important;
   font-size: 13px;
 
 }
 .errspan {
   float: right;
   margin-right: 6px;
   margin-top: -28px;
   position: relative;
   z-index: 2;
   cursor: pointer;
 }
 .searchinput{
   height: 34px;
 }
 .likebtn {
   color: #cccccc;
   cursor: pointer;
 }
 .likebtn.active {
   color: #3498DB;
 }
 
 .jugglrvan{
   font-family: 'Lato', sans-serif, 'Lato';
   font-weight: 400!important;
   font-size: 20px;
 }
 .jugglrvan li{
   
   border: 0;
 }
 .nav-item{
   margin: auto;
   margin-bottom: 0px;
 }
 .jugglrvan .nav-item .nav-link{
  
 
 }
 .jugglr-profile-img-help{
   display: flex;
   width: 100%;
     height: 10vw;
 }
 @media (max-width: 1000px) {
   .jugglr-profile-img-help{
     display: flex;
     width: 100%;
       height: 10vw;
   }
   .addjob-container {
     margin-left: 10px;
     padding-right: 10px;
   }
   .nav-link{
     display: inline-block;
     font-size: 14px;
   }
   .dropdown-item{
     font-size: 14px;
   }
   .form-control{
     font-size: 14px;
     height: 34px;
     max-width:120px;
   }
   #dropdownBasic1{
     height: 34px;
 
   }
   .nav-item{
     margin: auto;
     margin-left: 3px!important;
     margin-right: 3px!important;
     margin-bottom: 0px;
   }
   .nav-item-search{
     max-width: 120px;
   }
   .jugglrvan{
    
   }
   .jugglr-profile-img{
     width: 80px;
     height: 80px;
     margin: auto;
   }
 
   .jugglr-company-img{
     width: 80px;
     height: 80px;
     margin: auto;
     border: 2px solid #2A3E54;
   }
   .circle-img-background{
     width: 94px;
     height: 94px;
     margin: auto;
     padding: 2px;
     border: 2px solid #2A3E54;
     border-radius: 0;
   }
   .circle-img-background-company{
     width: 94px;
     height: 94px;
     margin: auto;
     padding: 2px;
     border: 5px solid #323a45;
     border-radius: 0;
   }
   .marketplacepinktitle{
     font-size: 20px;
   }
   .marketplaceprice{
     font-size: 20px;
 
   }
   .marketplacepostby{
     font-size: 12px;
   }
   .marketplaceratingandlikes{
     font-size: 10px;
   }
   .jugglr-tag-new{
     font-size: 16px;
   }
 }
 @media (max-width: 500px) {
   .jugglr-profile-img-help{
     display: flex;
     width: 100%;
       height: 20vw;
   }
 }
 .card-title-help{
   margin-top: 45px;
   margin-bottom: 15px;
   float: left;
   font-family: 'Lato', sans-serif, 'Lato';
   color: #2A3E54;
   font-size: 1.4rem;
   font-weight: 400;
   text-decoration: underline;
   cursor: pointer;
 }
 .nounderline{
   text-decoration: none;
 }
 .jugglr-profile-img-help{
   border-radius: 0!important;
 
 }
 .cardbody-help{
   padding: 5px;
 }
 
 .itemcardjhelp{
   margin-bottom: 5px;
 }
 .texthelpmumname{
   color: #FFF;
   margin-top: -25px;
   overflow: hidden;
 }
 .clickableitem{
   padding: 0px;
 }
 .col-help{
   width: 19%;
   margin:2px;
 }
 .servicesearched{
   font-style: bold;
   text-transform: uppercase;
 }
 .navtabnopadding{
   padding-right: 0px!important;
 }
 .nav-item-search{
   margin-right: 0;
 }
 .card-body{
   padding:15px;
 }
 .imagesection{
   padding-left: 15px;
   padding-right:15px;
 }
 .parentrow{
   white-space: nowrap;
 }
 .rowaddfav{
   padding-right: 15px;
 }
 .tab-pane .itemrow{
   margin-top:20px;
 }
 .tododetail {
    padding: 15px;
 }
 .coldateandchek{
    width: 155px;
    height: 155px;
    display: flex;
 }
 .subserviceoffer{
   border-radius: 25px;
   border: 2px solid;
   color: #2A3E54;
   border-color: #2A3E54;
 }
 
 .markettopmenu .nav-link {
    padding: .5rem .5rem;
 }
.usernamerow h5, .jugglr-profile-imguserswithskill
{
   cursor:pointer;
}