<div class="container addjob-container">
  <div class="row justify-content-center">

    <form (ngSubmit)="setpassword()" ngNativeValidate class="form addjobform col-lg-6 col-sm-8" >
      <div class="form-group">
        <label>New Password </label>
        <div class="input-group mb-3">
          <input type="password" [(ngModel)]="password" name="txtPassword" class="form-control" placeholder="Enter password"
            required>
        </div>
      </div>
      <div class="form-group">
         <label>Confirm Password </label>
         <div class="input-group mb-3">
           <input type="password" [(ngModel)]="confirmPassword" name="txtConfirmPassword" class="form-control" placeholder="Confirm password"
             required>
         </div>
       </div>
      
      <div class="btn-postjob">
        <button type="submit" class="btn  jugglr-btn-next">Change password
        </button>
      </div>
      <div class="col justify-content-center ">
        <div class="loader" *ngIf="loading"></div>
        <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
        
        <div class="text-center" *ngIf="!changedone">
          <span>Don't have an account?<a class="btn btn-link pinklink" (click)="opendsignup()" >Sign up</a></span>
        </div>
        <div class="text-center" *ngIf="changedone">
            <span>An email has been sent with further instructions.<a class="btn btn-link pinklink" (click)="opendsignup()" >Sign in</a></span>
          </div>
      </div>

    </form>
  </div>
</div>