
<div id="howitwork" class=" justify-content-center  jobsoffered-containerhowto " style="background: white">

<div class="row  justify-content-center pt-4"><h2>How It Works</h2></div>

  <div class="row  justify-content-center py-4">
    <div class="imghowit imghowto d-block d-md-none d-lg-none d-xl-none">


        <img class="howitworkimg col-7 px-5"  src="../../../assets/jlr-hiw-mb-01.png">
        <img class="howitworkimg col-7 px-5"  src="../../../assets/jlr-hiw-mb-02.png">
        <img class="howitworkimg col-7 px-5"  src="../../../assets/jlr-hiw-mb-03.png">
        <img class="howitworkimg col-7 px-5"  src="../../../assets/jlr-hiw-mb-04.png">


    </div>
    <div class="imghowit imghowto d-none d-md-block d-lg-block d-xl-block">

        <img class="howitworkimg col-8 px-5"  style="padding-left: 5px;padding-right: 5px;" src="../../../assets/jlr-hiw-dr-01.png">

    </div>
  </div>
</div>
