
<div class="container addjob-container">


  <span style="color: red" *ngIf="message!=null">{{message}}</span>
  <div class="row justify-content-center">

  <div *ngIf="TypeUser" class="item-type justify-content-center" style="margin: auto">

      <div class=" btn-group-toggle typechoice justify-content-center" ngbRadioGroup name="radioBasic" [(ngModel)]="job.Type">
          <label ngbButtonLabel class="btn btnmultichoice">
              <input ngbButton type="radio" value="0"> Offer a service
          </label>
          <label ngbButtonLabel class="btn btnmultichoice">
              <input ngbButton type="radio" value="1"> Post a gig’
          </label>
      </div>
  </div>
  </div>
<div class="row justify-content-center">
  <form ngNativeValidate   (ngSubmit)="save()"   class="form addjobform col-lg-6 col-sm-8">
    <div class="form-group" >
      <label ></label>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>

        <input required *ngIf="!TypeUser" type="text"  [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="inputformatter" [(ngModel)]="model" name="Customservice" class="form-control" placeholder="Enter service required">
        <input required *ngIf="TypeUser" type="text"  [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="inputformatter" [(ngModel)]="model" name="Customservice" class="form-control" placeholder="Service offered or required">
      </div>
    </div>
    <div class="form-group">
      <label *ngIf="!TypeUser">Gig description</label>
      <label *ngIf="TypeUser">Description</label>
      <div class="input-group mb-3">
        <textarea required type="text" rows="5" [(ngModel)]="job.Note" name="Note" class="form-control form-control-noborder" placeholder="Describe the work required, the approximate hours and hourly rate if applicable, for example: ‘we are looking for professionals to promote our company at a local trade show. $23/h, 5h shifts, 10am-3pm and 3pm-8pm. From 22/9 till 29/9. (Max 300 characters)." aria-label="jobDescription" aria-describedby="basic-addon2"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">What date is the work required? (optional)</label>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
        </div>
        <input type="datetime-local"  [(ngModel)]="job.Datetime" name="Datetime" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Gig location</label>
      <div class="input-group mb-3">
        <input id="address-input" type="text" [(ngModel)]="job.Location" name="Location" class="form-control form-control-noborder" placeholder="Enter area or full address where work is required">
      </div>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Gig budget</label>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
        </div>
        <input required *ngIf="!TypeUser"type="number" [(ngModel)]="job.Amount" name="Amount" class="form-control" placeholder="Enter total budget for the gig">
        <input required *ngIf="TypeUser"type="number" [(ngModel)]="job.Amount" name="Amount" class="form-control" placeholder="Enter your total budget for the task">
      </div>
    </div>
    <div class="btn-postjob">
      <button type="submit" class="btn  jugglr-btn-next" [disabled]="loading">Post gig</button>
    </div>
    <div class="col justify-content-center ">
      <div class="loader" *ngIf="loading"></div>
    </div>
  </form>


</div>

</div>

