<section class=" row sponsorrow logo-bar-section justify-content-center ">
  <div class="container-visitor  w-100 clickable btn" (click)="openArticles()">
    <div class=" featured-hiw logobar">
    <!--  <div class="content0 title col-md-12 col-xl-3 text-center featuredin">
        <h2>Featured in</h2>
      </div>-->
    </div>
  </div>

</section>