.team-section{
    padding-right: 30px;
    padding-left:30px;
}
.jugglr-profile-img{
    width: 120px;
    height: 120px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-backgrounddd{
    width: 134px;
    height: 134px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .dark-grey-text{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }