<div class="container-fluid">
   <div class="row ">
      <div class="col-md-3 col-sm-0 jugglrsidebar">
         <app-dashboard-menu></app-dashboard-menu>
      </div>
	  <!-- Dashboard Content -->
      <div class="col-md-9 col-sm-12 comdash ">
         <router-outlet  name="dashboardContent"></router-outlet>
      </div>
   </div>
</div>

