<div class="modal-header">
  apply for the job

  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card-body">
  <form class="form addjobform col-lg-6 col-sm-8">
    <div class="form-group">
      <label>Note :</label>
      <div class="input-group mb-3">
        <textarea type="text" [(ngModel)]="note" name="Note" class="form-control form-control-noborder" placeholder="Enter a description of the job" aria-label="jobDescription" aria-describedby="basic-addon2"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <div class="input-group mb-3">
        <input type="datetime-local" [(ngModel)]="date" name="Datetime" class="form-control">
      </div>
    </div>

    <button type="submit">Confirm</button>
  </form>

</div>
