<div class="row justify-content-center ">
  <div class="col-md-8 col-sm-12 servicesoffered-container">
    <div class="row">
      <div class="col-12 clickable btn" [routerLink]="['/services']">
        <h2>Hire Talent</h2>
      </div>
    </div>
    <div class="row jugglr-carousel-container justify-content-center">
      <ngb-carousel class="col-12" *ngIf="images">
        <ng-template ngbSlide>
          <div class="row container justify-content-center">
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background">
                <img routerLink="services" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1519618946.150061.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img">
              </div>
              <div class="card-body">
                <h3>Melissa W</h3>
                <p class="card-text">Social Media Marketing</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background"><img routerLink="services" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P2_Jaymi.png?alt=media&token=294bd5d6-f052-4bc3-905c-503c7ca4e232"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Emily F</h3>
                <p class="card-text">Admin Support</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background"><img routerLink="services" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P3_Gaby.jpeg?alt=media&token=be10aac4-a8c4-401a-aebe-4b3baf1b274f"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Amy J</h3>
                <p class="card-text">Sales Reps</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row container justify-content-center">
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background"><img routerLink="services" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P4_Neha.jpg?alt=media&token=74fd99e1-4203-44d3-bd4b-7ce448018a2f"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Emma S</h3>
                <p class="card-text">Web Design</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background"><img routerLink="services" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P5_Sonia.jpg?alt=media&token=da1317db-75ea-4930-83e4-7fd0f61ad0fa"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Jessica A</h3>
                <p class="card-text">Event Planning</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background"><img routerLink="services" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/P6_Nadia.jpeg?alt=media&token=fac7589e-2fc6-4024-8d1a-33a677f0a6a3"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Rebecca M</h3>
                <p class="card-text">Business Development</p>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>


  <!--caroucell testimonial -->
  <div class="col-md-10 col-sm-12 servicesoffered-container my-4 testimonialcaroucell">

    <div class="row jugglr-carousel-container justify-content-center">
      <ngb-carousel class="col-12 col-sm-12  slides" *ngIf="images">
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial ">
              <!--Content-->
              <p class=" dark-grey-text">
                "Jugglr is a game changer. It puts businesses who want to help eradicate the gender pay gap in direct
                communication with mothers who want to work from home on their terms."<span class="testimonialauther">
                  - Gaby, Jugglr Professional</span></p>
              <!--Review-->
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial">
              <!--Content-->
              <p class=" dark-grey-text">
                "Jugglr is a great platform for services out to local businesses which care about quality work and also
                understand about the opportunity of offering parent friendly working arrangements."<span class="testimonialauther">
                  - Jaymi, Jugglr
                  Professional</span></p>
              <!--Review-->
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial">
              <!--Content-->
              <p class=" dark-grey-text">
                "I found working through Jugglr really easy and straightforward. It was a no-hassle agreement and the
                payment was made as soon as the gig was completed. I would highly recommend it to others." <span class="testimonialauther">
                  - Neha,
                  Jugglr
                  Professional</span></p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial">
              <!--Content-->
              <p class=" dark-grey-text">
                "Finally, I have found the balance between my responsibilities as a mother and my desire to work, my
                flexible marketing job allows me to nurture my children and do meaningful work! I love it." <span class="testimonialauther">
                  - Melissa, Jugglr Professional </span></p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial">
              <!--Content-->
              <p class=" dark-grey-text">
                "Kate was a great addition to our small marketing team. She worked flexible hours managing and creating
                content for our marketing campaigns. I look forward to hiring more skilled mums like her on Jugglr."<span
                  class="testimonialauther"> - Samantha, Local Business Manager</span></p>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="col-md-10 col-sm-12  mb-md-0 mb-3 mx-auto">
            <div class="testimonial">
              <!--Content-->
              <p class=" dark-grey-text">
                "Rafaela did a great job during our promotional campaign, her enthusiasm, professionalism and can do attitude have not gone unnoticed. I'd recommend her services to other businesses." <span class="testimonialauther"> - Elio, Small Business Owner</span></p>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <!--/caroucell testimonial -->

  <div class="col-md-8 col-sm-12 jobsoffered-container">
    <div class="row">
      <div class="col-12 btn" routerLink="jobs">
        <h2 class="col-12">Find Gigs</h2>
      </div>
    </div>
    <div class="row jugglr-carousel-container justify-content-center">
      <ngb-carousel class="col-12" *ngIf="images">
        <ng-template ngbSlide>
          <div class="row container justify-content-center">
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1519185606.530488.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>No Menu</h3>
                <p class="card-text">Marketing Executive</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1539143944.369880.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Credi</h3>
                <p class="card-text">Grant Writer</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1531285091.466118.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Conquest Finance Solutions</h3>
                <p class="card-text">Marketing Strategy</p>
              </div>
            </div>


          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="row container justify-content-center">

            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/Function%20Logo_400x400.png?alt=media&token=62b352f2-36bc-4697-8a2c-71cb124c9774"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Function Creative</h3>
                <p class="card-text">Photographer</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1493174236.834071.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>State Sailing Centre</h3>
                <p class="card-text">Sailing Instructor</p>
              </div>
            </div>
            <div class="col-4 holdcol justify-content-center" style="">
              <div class="btn circle-img-background-companyx"><img routerLink="jobs" src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1542247610.888531.jpg"
                  alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
              <div class="card-body">
                <h3>Strategic Career Planning</h3>
                <p class="card-text">Admin Support</p>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

</div>
