.servicesoffered-container{
  text-align: center;

}
.jobsoffered-container{
  text-align: center;

}

.services-row{ height: 460px}
.jugglr-profile-img{
  width: 120px;
  height: 120px;
  margin: auto;
  border: 2px solid #2A3E54;
}
.jugglr-company-img{
  width: 120px;
  height: 120px;
  margin: auto;
  border: 2px solid #2A3E54;
}
.circle-img-backgrounddd{
  width: 134px;
  height: 134px;
  margin: auto;
  padding: 2px;
  border: 2px solid #2A3E54;
  border-radius: 0;
}
.circle-img-backgrounddd-company{
  width: 134px;
  height: 134px;
  margin: auto;
  padding: 2px;
  border: 5px solid #323a45;
  border-radius: 0;
}
.jugglr-carousel-container{

}

.jugglr-carousel-container .card-body h3{
  text-align: center;
  font-size: 19px;
  font-weight: 400;

}
.jugglr-carousel-container .card-body .card-text{
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
.jugglr-divider {
  height: 5px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.testimonialcaroucell{
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
}
.col-12.carousel.slide{
  height: 280px;
}

.col-12.slides{
  height: 170px!important;
}
@media (max-width: 480px){



  .col-12.slides{
    height: 260px!important;
  }
  .jugglr-profile-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .jugglr-company-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-backgrounddd{
    width: 114px;
    height: 114px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .circle-img-backgrounddd-company{
    width: 114px;
    height: 114px;
    margin: auto;
    padding: 2px;
    border: 5px solid #323a45;
    border-radius: 0;
  }
  .jugglr-carousel-container{

  }
  .card-body{
    padding-right: 4px;
    padding-left: 4px;
  }
  .jugglr-carousel-container .card-body h3{
    text-align: center;
    font-size: 16px;
    font-weight: 400;

  }
  .jugglr-carousel-container .card-body .card-text{
    text-align: center;
    font-size: 12px;
  }

}

@media (max-width: 680px){
  .col-12.slides{
    height: 280px!important;
  }
  .jugglr-profile-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .jugglr-company-img{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-backgrounddd{
    width: 114px;
    height: 114px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .circle-img-backgrounddd-company{
    width: 114px;
    height: 114px;
    margin: auto;
    padding: 2px;
    border: 5px solid #323a45;
    border-radius: 0;
  }
  .jugglr-carousel-container{

  }
  .card-body{
    padding-right: 4px;
    padding-left: 4px;
  }
  .jugglr-carousel-container .card-body h3{
    text-align: center;
    font-size: 16px;
    font-weight: 400;

  }
  .jugglr-carousel-container .card-body .card-text{
    text-align: center;
    font-size: 12px;
  }

}

.testimonialauther{
  font-style: normal;
  font-weight: 300;
}
