
.list-group-item{
  background: rgba(0,0,0,.125);
}
.fixed-bottom {
  position: fixed;
  height: 48px;
  bottom: 0;
  width: 100%;
}
.dashboard-mobile-menu{
  background:  #2A3E54;
  color: #EBD1CA;
  height: 100%;
}
.dashboard-mobile-menu a{
  color: #EBD1CA;
  margin: auto;
  text-align: center;
  border-right: 2px solid #fff;
  padding: 0;

}
.dashboard-mobile-menu a i{
  color: #EBD1CA;
  margin: auto;
}

.jugglr-profile-img{
  width: 150px;
  height: 150px;
  margin: auto;
}
.jugglr-company-img{
  width: 180px;
  height: 180px;
  margin: auto;
  border: 2px solid #2A3E54;
}
.circle-img-background{
  width: 194px;
  height: 194px;
  margin: auto;
  padding: 2px;
  border: 2px solid #2A3E54;
  border-radius: 0;
}
.circle-img-background-company{
  width: 194px;
  height: 194px;
  margin: auto;
  padding: 2px;
  border: 5px solid #323a45;
  border-radius: 0;
}

.jugglr-btn-nextcalm{
  min-width: 150px;
  margin-top: 0px;
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  background: #2880ba;
  text-transform: uppercase;
  color: #FFFFFF !important;
  width: 100%;
}
.jugglr-btn-nextcalm:hover{
  background: #3498DB;
  
}
.menuitemgroup{
  text-align: start;
}
.dashboard-menu-container{
  background: #FFFFFF;
  z-index: 1;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}
.jugglrmenuitems{
  
  margin-left:30px;
  margin-right: 30px;
  width: auto;

}
.jugglr-tag-new{
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 25px;
  background: #86A6B2;
  border-color:#86A6B2;
  border-width: 1px;
  color: #FFFFFF;
  margin-top: 1.5px;
}
.nameuser{
  margin-top: 10px;
  color: #2A3E54;
}
.list-group-item-action{
  color:#2A3E54;
  margin-bottom: 10px;
  border-radius:.25rem;
}
@media (max-width: 1000px){
  .jugglrmenuitems{
    width: 190px;
    float: right;
    font-size: 14px;
  }
  .jugglr-profile-img{
    width: 130px;
    height: 130px;
    margin: auto;
  }
  
  .jugglr-company-img{
    width: 130px;
    height: 130px;
    margin: auto;
    border: 2px solid #2A3E54;
  }
  .circle-img-background{
    width: 144px;
    height: 144px;
    margin: auto;
    padding: 2px;
    border: 2px solid #2A3E54;
    border-radius: 0;
  }
  .circle-img-background-company{
    width: 144px;
    height: 144px;
    margin: auto;
    padding: 2px;
    border: 5px solid #323a45;
    border-radius: 0;
  }
 
}
.list-group-item-actionselected{
  background: #2A3E54;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.menuimg-container{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 10px;
}
.rowtitle{
  padding-top:20px;
}
.rowtitle h5{
  margin-bottom:20px;
}
.list-group.menuitemgroup a i{
  margin-right: 10px;
}
.settingbutton{
  position: absolute;
  top: 70px;
  right: 30px;
  color: #2A3E54;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}
.settingbutton:hover{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.jugglr-tag-count{
  display: inline-block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  background: #86A6B2;
  border-color:#86A6B2;
  border-width: 1px;
  color: #FFFFFF;
  width: 1.5em;
  position: absolute;
  top: -4px;
  right: -4px;
}