<div class="container  addjob-container">
    <h1 class="text-center">Congratulations !</h1>
    
  <div class="row justify-content-center">

  <form class="form col-lg-6 col-sm-8">
      <div class="form-group text-center">
      <img src="../../../../assets/shield.png">
      </div>
      <div class="form-group text-center jugglr-validation-text">
          <p style="font-weight: bold">Your gig has been posted.</p>

      </div>

      <div class="btn-postjob">
          <button type="submit" routerLink="/dashbord" class="btn  jugglr-btn-next">Go to Dashboard</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="https://jugglr.app/convert.js" data-campaign-id="favbyz8u" data-name="retc-convert"></script>