.jugglr-btn-facebook{
    background: #3b5998;
    border-color: #3b5998;
    color: #fff;
    text-color:#fff;
    margin-bottom: 5px;

}

.btn-postjob{
    display: flex;
    justify-content: center;
}

.fb-form {
   margin: 8% auto 5% auto;
}

.jugglr-btn-facebook  {
   border-radius: 5px;
   padding: 5px 15px;
   cursor: pointer;
}




/*form styles*/
#msform {
   text-align: center;
   position: relative;
   margin-top: 30px;
}

/*progressbar*/
#progressbar {
   margin-bottom: 30px;
   overflow: hidden;
   /*CSS counters to number the steps*/
   counter-reset: step;
   padding: 0;
}

#progressbar li {
   list-style-type: none;
   color: white;
   text-transform: uppercase;
   font-size: 9px;
   width: 33.33%;
   float: left;
   position: relative;
   letter-spacing: 1px;
}

#progressbar li:before {
   content: counter(step);
   counter-increment: step;
   width: 24px;
   height: 24px;
   line-height: 26px;
   display: block;
   font-size: 12px;
   color: #333;
   background: white;
   border-radius: 25px;
   margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
   content: '';
   width: 100%;
   height: 2px;
   background: white;
   position: absolute;
   left: -50%;
   top: 9px;
   z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
   /*connector not needed before the first step*/
   content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
   background: #2a3e54;
   color: white;
}

.subserviceoffer {
   border-radius: 25px;
   border: 2px solid;
   color: #2A3E54;
   border-color: #2A3E54;
}

.nService-title
{
   padding: 5px;
   background-color: #d6d6d6;
   font-weight: bold;
}
.nService-body {
   background-color: white;
}

.tag-item {
   margin: 5px;
   cursor: pointer;
}

.tag-item.selected .subserviceoffer {
   background-color: #2A3E54;
   color:white;
}
 