/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/nova-light/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
body {
    font-family: 'Lato', sans-serif, 'Lato';
    color: #2A3E54;
    background: #eeeeee;
}

@media (max-width: 1200px) {}

.jugglr-btn-browsejobs {}

.jugglr-btn-browsejobs:hover {}

.jugglr-btn-mum {
    background: #2A3E54;
    border: 2px solid #2A3E54;
    color: #fff;
}

.jugglr-btn-mum:hover {
    background: #fff;
    border: 2px solid #2A3E54;
    color: #2A3E54;
}

.modal-content {
    border: none;
    background: #FFFFFF;
}

.modal-dialog {
    height: 100%!important;
    border: none;
}

.modal-header {
    padding: 14px;
    border: 0px;
    background: #2A3E54;
    font-family: "Lato";
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.modal-header button.close {
    position: absolute;
    right: 10px;
    top: 18px;
    outline: 0px !important;
    color: #fff !important;  
}
.modal-header button.close:hover{
  opacity: 1 !important;
}
.modal-footer{
    border-top: 0px solid;
}

.modal-body {
    padding-top: 30px;
}

app-modal-config {}

.carousel-control-prev-icon {
    background-image: url('/assets/previousbtn.png')
}

.carousel-control-next-icon {
    background-image: url('/assets/nextbtn.png')!important;
}

.carousel-indicators {
    margin-top: 10px !important;
}

.col-12.carousel.slide {
    height: 320px;
}

.carousel-indicators li {
    display: inline-block;
    margin-right: 25px!important;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #2A3E54;
    border-radius: 10px;
}

.carousel-indicators .active {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(50, 58, 69, 1);
    border: 1px solid #2A3E54;
    border-radius: 10px;
}

.jugglr-carousel-container :focus {
    outline: -webkit-focus-ring-color auto 0px!important;
}

.typechoice {
    width: auto;
    padding: 2px;
    border-radius: 25px;
    background: #2A3E54;
}

.btnmultichoice {
    width: 180px;
    background: #2A3E54;
    border-radius: 25px;
    color: #FFFFFF;
}

.btnmultichoice.active {
    border-radius: 25px;
    background: #EBD1CA;
    border: 2px solide #2A3E54;
    color: #2A3E54;
}

.nav-fill {
    margin: auto;
}

.jugglr-btn-next {
    min-width: 150px;
    margin-top: 30px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #2880ba;
    color: #FFFFFF;
    border-width: 0px;
}

.jugglr-btn-next:hover {
    background: #3498DB;
    color: #FFFFFF;
}

.addjob-container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.pinklink {
    color: #86A6B2 !important;
}

.jugglr-btn-post-white {
    min-width: 150px;
    margin-top: 30px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    background: #3498db;
    border-color: #2A3E54;
    border-width: 2px;
    color: #2A3E54;
}

.jugglr-btn-post-white:hover {
    background: #2A3E54;
    border-width: 2px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.marketplaceratingandlikesitem ngb-rating span {
    color: #86A6B2;
}

.fa-arrow-left {
    color: #2A3E54
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
    min-width: 240px;
}

::placeholder {
    color: #444444!important
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    height: 50px;
    ;
}

.jugglr-btn-main {
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    background: #2880ba;
    color: #FFFFFF;
    border-width: 0px;
}

.jugglr-btn-main:hover {
    background: #3498DB;
    color: #FFFFFF;
}

body ::-webkit-input-placeholder {
    color: #b3b0b0 !important;
}

body :-moz-placeholder {
    color: #b3b0b0 !important;
}

body ::-moz-placeholder {
    color: #b3b0b0 !important;
}

body :-ms-input-placeholder {
    color: #b3b0b0 !important;
}

body .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: rgb(161, 161, 161) !important;
}

.calender-display input {
    width: 100%;
    height: 100% !important;
    border: none;
}

.calender-display {
    padding: 0;
    position: relative;
    /* width: 92%;
    height: 50px;
    border-color: rgb(161, 161, 161) rgb(161, 161, 161) rgb(161, 161, 161) rgb(161, 161, 161); */
}

.sponsorrow {
	cursor: pointer;
}
.c-pointer {
	cursor: pointer;
}

.spinner-gray {
   background-color: #efefef3b;
   background-image: url('assets/spinner.gif');
   background-repeat: no-repeat;
   background-size: 28px;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   height: 100%;
   background-position: 50%;
}