<div class="container addjob-container">
  <div class="row rowsfaq">
    <div class="col-12 col-md-6">
      <h5>
        1. What is Jugglr?
      </h5>
      <p>
        Jugglr is an app (iOS, Android and web-based) connecting local businesses looking for professional talent at an
        affordable rate with experienced mothers wanting to work flexible hours on part-time gigs. Local businesses are
        referred as ‘Businesses’ and professional mothers as ‘Professionals’.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>
        2. What is the working arrangement between Businesses and Professionals in Jugglr?
      </h5>
      <p>
        In Jugglr, Businesses post gigs and local mothers (Professionals) apply to them on a contract or casual basis.
        Gig arrangements provide great flexibility to both Businesses and Professionals in Jugglr. Gigs also make
        hiring local talent easy eliminating the complexities of full-time or part-time working arrangements.
      </p>
      <p>
        More information on independent contractors can be found <a href="https://www.business.gov.au/People/Contractors/Independent-contractors/How-do-I-know-if-I-am-an-independent-contractor">here</a>.
        More information on casual employees can be found <a href="https://www.fairwork.gov.au/employee-entitlements/types-of-employees/casual-part-time-and-full-time/casual-employees">here</a>.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h5>
        3. Do I need an ABN to work on a gig?
      </h5>
      <p>
        Professionals accepting gigs in Jugglr will work either as <a href="https://www.business.gov.au/People/Contractors/Independent-contractors/How-do-I-know-if-I-am-an-independent-contractor">independent
          contractors</a> or <a href="https://www.fairwork.gov.au/employee-entitlements/types-of-employees/casual-part-time-and-full-time/casual-employees">casual
          employees</a>. If hired as independent contractors the Professionals will most likely need to provide an ABN
        to the Businesses offering the gigs. Some Businesses may prefer to hire Professionals as casual employees. We
        encourage Businesses and Professionals in Jugglr to agree the most suitable arrangement for every gig.<b> As a
          default, every gig in Jugglr assumes the Professionals are independent contractors.</b>
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>
        4. How do Professionals get paid in Jugglr?
      </h5>
      <p>
        The Jugglr app has implemented a payment system by which, so long as a gig is issued and completed through the
        app, payment will seamlessly flow from the Business credit card to the Professional bank account. Jugglr takes
        no transaction fees for payments through the app.
        However, if the payment is executed outside the app we cannot help with dispute resolution.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>
        5. What are the transaction costs for paying Professionals through Jugglr?
      </h5>
      <p>
        There are NO transactions fees for Businesses and NO transaction fees for Professionals. For example, if a gig
        is agreed and completed through Jugglr for $200, the Business will be charged $200 and the Professional will
        receive $200. There is absolutely no gain in transacting off platform as we take NO transaction fees. Moreover,
        our team will not be able to help resolve any dispute for gigs that are not executed through the app.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h5>
        6. Do Businesses have to pay super to Professionals working on gigs?
      </h5>
      <p>
        This greatly depends on the type of gig and contract arrangement. Both, Business and Professionals can find
        more information <a href="https://www.ato.gov.au/business/super-for-employers/working-out-if-you-have-to-pay-super">here</a>.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>
        7. What is a Jugglr gig?
      </h5>
      <p>
        A gig is a working arrangement providing great flexibility to both Businesses and Professionals making hiring
        local talent easy eliminating the complexities of full-time or part-time working arrangements. Gigs are not
        continuous employment and professionals may work either as <a href="https://www.business.gov.au/People/Contractors/Independent-contractors/How-do-I-know-if-I-am-an-independent-contractor">independent
          contractors</a> or <a href="https://www.fairwork.gov.au/employee-entitlements/types-of-employees/casual-part-time-and-full-time/casual-employees">casual
          employees</a>. Gigs duration, fees and all other working conditions are discussed and agreed upon between the
        Businesses and Professionals.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h5>
        8. How do you keep Jugglr safe?
      </h5>
      <p>
        Safety and trust in the Jugglr app is paramount. There are several layers of screening for Professional and
        Businesses in the Jugglr app. For professional we use social media authentication, cross platform screening and
        peer-to-peer verification. Businesses that onboard Jugglr go through an official sign-up process and background
        check using publicly available databases, business associations memberships and vetting by the Jugglr team. In
        addition, to maintain the safety and security of the platform, both Businesses and Professionals are constantly
        reviewed and enabled to block or report suspicious users or perceived abuses. These instances are followed up
        as a matter of priority by our Customer Service team.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h5>
        9. What talent can be hired in Jugglr and what services can Professionals offer?
      </h5>
      <p>
        Professionals in Jugglr would offer services which are highly valuable to local businesses, typically these
        revolve around admin support, marketing, sales, business development, design, customer service, HR support,
        event planning, photography, management and more.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h5>
        10. How do I keep track of my gigs in Jugglr?
      </h5>
      <p>
        In the Bookings tab of the mobile app Business and Professional users can view current and completed gigs,
        including offer summary details. In the web app, gig management is a premium membership feature.
      </p>
    </div>
  </div>
</div>