    .jugglr-profile-img{
  width: 90px!important;
  height: 90px!important;
  margin: auto;
  border: 2px solid #2A3E54;
}
.circle-img-background{
  width: 104px;
  height: 104px;
  margin: auto;
  padding: 2px;
  border: 2px solid #2A3E54;
  border-radius: 0;
}
.jugglr-profile-img2{
  width: 70px!important;
  height: 70px!important;
}
.usernametext{
  font-size: 16px;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 400!important;
}
.jobdetailtitle{
  font-size: 26px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400!important;
}
.jobdetailprice{
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 300!important;
}
.card-deck{
  padding: 10px;
  flex-direction: row;
}
.jobdetailnote{
  text-align: left;
}
.card-deck span{
  font-weight: 200!important;
}
.marketplaceratingandlikes{
  font-size: 13px;

  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 300!important;
  padding-left: 0;
}
.marketplaceratingandlikesitem{
  border-right: 1px solid #c7c8c9;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  font-family: 'Lato', sans-serif, 'Lato';
  font-weight: 400!important;
  font-size: 13px;

}
.marginauto{
  margin: auto;
}
.card-deck.card-decklast{
  padding: 0px;
}
.chatformfixbottom{

}
.commentsection{
  margin-top: 30px;
}
.commentname{
  text-align: left;
  font-weight: 400!important;
  font-size: 13px;
}
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 100%; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  border-radius: 0;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 1px 0 8px;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 20px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #2A3E54 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #2A3E54 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 33px;
}
.messaging {
  text-align: left;
}
.msg_history {
  height: 100%;
  max-height: 516px;
  overflow-y:auto;
}
.jobdetailacceptjob{
  background: #2A3E54;
}
.formaccept{
  text-align: left;
}
.pinktext{
  color: #2A3E54;
}
.jugglr-btn-acceptjob{
  min-width: 150px;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  background: #2A3E54;
  border-color:#2A3E54;
  border-width: 2px;
  color: #FFFFFF;
}
.commentcard{
  padding: 0;
}
.comdash{
  padding-right: 0;
}
.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 68px;
  width: calc(100% - 34px);
}
.card-headerx{
  padding-left: 5px;
  padding-right: 5px;
}
button.btn.link.col-1{
  background: #00000000 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #2A3E54;
  background-color: transparent;
  /* border-color: transparent transparent transparent transparent ; */
  border-bottom: 6px solid !important;
  font-size: 20px;
  font-weight: bold;
}
.nav-tabs .nav-link {
border: 1px solid transparent;
border-top-left-radius:100px;
border-top-right-radius:100px;
border-bottom: 6px solid !important;
color: #c7c8c9;
font-size: 20px;
}
.btn-postjob{
  display: flex;
  justify-content: center;
}




span{
  background-color: transparent;
  border-color: rgb(161, 161, 161) transparent rgb(161, 161, 161) rgb(161, 161, 161)  ;
}

.form-control{
  border-color: rgb(161, 161, 161)  rgb(161, 161, 161) rgb(161, 161, 161) transparent  ;
}
.form-control-noborder{
border-color: rgb(161, 161, 161)  rgb(161, 161, 161) rgb(161, 161, 161) rgb(161, 161, 161)  ;

}
.form{

}

.typechoice{
margin-top: 40px;
}

.addjobform{
text-align: start;
margin-top: 40px;

}
.btn-group.btn-group-toggle{
}


.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2A3E54; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.input-group-append{
background: #2A3E54;
}
.input-group-text{
color: #FFFF;
}
.jugglr-btn-acceptapplicant{
  text-transform: uppercase;
  background: #2A3E54;
  border-color:#2A3E54;
  border-width: 2px;
  color: #FFFFFF;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 10px;

}
.jugglr-btn-deneyapplicant{
  text-transform: uppercase;
  background: #86A6B2;
  border-color:#86A6B2;
  border-width: 2px;
  color: #FFFFFF;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 10px;
}
.applicantrow{
  border-top:1px solid #EDE2D2;
  padding: 5px;
  padding-top: 10px;
  padding-right: 5px;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
.jugglr-tag-new{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 25px;
    background: #86A6B2;
    border-color:#86A6B2;
    border-width: 1px;
    color: #FFFFFF;
  }
