<div class="container addjob-container">
  <!--/col-3-->
  <div class="row">
    <div class="card col-12 col-md-6">
      <div class="row card-header card-headerx">
        <button class="btn link col-1" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
        <div class="jobdetailtitle col-10"><span class="pinktext">{{job.customservice}}</span></div>
        <button *ngIf="updatebool" class="btn link col-1" (click)="showupdate()"><i class="far fa-edit"></i></button>

      </div>
      <div *ngIf="!updateprocess">
        <div class="card-deck border-light border-bottom">
          <div class="col-12 "> <!-- [n-change-classbackup] row col-12  -->
            <div class="jobdetailprice col-12">${{job.amount}} <br>
              <div style="font-size: 10px">via Jugglr</div>
              <span class="jugglr-tag-new">{{statusName}}</span>
            </div>
          </div>
        </div>
        <div class="card-deck row border-light border-bottom">
          <div class="jobdetailnote">{{job.note}}</div>
        </div>
        <div class="card-deck row border-light border-bottom" *ngIf="job.datetime">
          <div class="jobdetaildate"><span>When: </span>{{job.datetime | date: 'yyyy-MM-dd'}}</div>
        </div>
        <div class="card-deck row border-light border-bottom" *ngIf="job.datetime">
          <div class="jobdetailtime"><span>Time: </span>{{job.datetime | date: 'hh:mm a'}}</div>
        </div>
        <div class="card-deck row border-light border-bottom">
          <div class="jobdetaillocation"><span>Location: </span>{{job.location}}</div>
        </div>
        <div class="card-deck row border-light border-bottom">
          <div class="col-4 text-center justify-content-center">
            <div class="row">
              <img (click)="goprofile(job.user_id)" [src]="job.user_image" class="rounded-circlex jugglr-profile-img"
                onerror="this.src='../../../assets/defaultprofile.png';">

            </div>
          </div>
          <div class="col-8 marginauto">
            <div class="row ">{{job.user_name}}</div>
            <div class="row text-left">
              <div class="marketplaceratingandlikes">
                <div class="marketplaceratingandlikesitem">
                  {{job.total_rating}}&nbsp;&nbsp;&nbsp;<ngb-rating [rate]="job.star_rating"></ngb-rating>
                </div>
                <div class="marketplaceratingandlikesitem">
                  {{job.total_rating}}&nbsp;&nbsp;&nbsp;<li class="far fa-heart"></li>
                </div>
                <div class="marketplaceratingandlikesitem" style="  border-right: 0px;">
                  < {{job.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
         <div *ngIf="!(userid==job.user_id)" class=" btn col-6 jugglr-btn-acceptjob text-center " (click)="accceptJob()">Accept Gig</div>
        </div>
        <div >
            <div class="row justify-content-center">
            <br>
            </div>
          <div *ngIf="userid==job.user_id&&job.is_assigned==0" >
            <div class="row applicantrow" *ngFor="let x of job.applicants">
             <div class="col-4 text-center justify-content-center">
                <img (click)="goprofile(x.applicant_id)" [src]="x.user_image" class="rounded-circlex jugglr-profile-img"
                onerror="this.src='../../../assets/defaultprofile.png';">
             </div>
             <div class="col-8 marginauto">
               <div class="row">{{x.user_name}} applied to work on your gig</div>
               <div class="row justify-content-left"> <small>{{x.message}}</small></div>
             </div>
             <div class="col-6  margin-0" >
                <div class=" btn jugglr-btn-acceptapplicant text-center " (click)="accceptapplicant(x)">Accept </div>

             </div>
             <div class="col-6  margin-0" >
                <div class=" btn  jugglr-btn-deneyapplicant text-center " (click)="deneyapplicant(x)">Decline </div>

             </div>
            </div>
          </div>
        </div>
        <div class="card-deck card-decklast text-left formaccept" *ngIf="canapply">
          <form class="form col-12 ">
            <div class="row justify-content-center">
              <h6>You need to provide details to your gig application</h6>
            </div>
            <div class="form-group">
              <label>Note :</label>
              <div class="input-group mb-3">
                <textarea type="text" [(ngModel)]="noteapplication" name="Note" class="form-control form-control-noborder"
                  placeholder="Enter a note ..." aria-label="jobDescription" aria-describedby="basic-addon2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label>date & time</label>
              <div class="input-group mb-3">
                <input type="datetime-local" [(ngModel)]="dateapplication" name="Datetime" class="form-control">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class=" btn text-center jugglr-btn-acceptjob" (click)="accceptdone()">Confirm application</div>
            </div>
          </form>

        </div>

      </div>
      <div *ngIf="updateprocess">
          <span style="color: red" *ngIf="message!=null">{{message}}</span>
          <div class="row justify-content-center">
        
          <div *ngIf="TypeUser" class="item-type justify-content-center" style="margin: auto">
        
              <div class=" btn-group-toggle typechoice justify-content-center" ngbRadioGroup name="radioBasic" [(ngModel)]="job.Type">
                  <label ngbButtonLabel class="btn btnmultichoice">
                      <input ngbButton type="radio" value="0"> Offer a service
                  </label>
                  <label ngbButtonLabel class="btn btnmultichoice">
                      <input ngbButton type="radio" value="1"> Post a gig’
                  </label>
              </div>
          </div>
          </div>
        <div class="row justify-content-center">
          <form ngNativeValidate   (ngSubmit)="updateGig()"   class="form col-lg-12">
            <div class="form-group" >
              <label >Gig title</label>
              <div class="input-group-append">

                <input required type="text" [(ngModel)]="job.customservice" name="Customservice" class="form-control" placeholder="Service required">

              </div>
      
             
            </div>
            <div class="form-group">
              <label *ngIf="!job.type">Gig description</label>
              <label *ngIf="job.type">Description</label>
              <div class="input-group mb-3">
                <textarea required type="text" rows="5" [(ngModel)]="job.note" name="Note" class="form-control form-control-noborder" placeholder="Describe the work required, the approximate hours and hourly rate if applicable, for example: ‘we are looking for professionals to promote our company at a local trade show. $23/h, 5h shifts, 10am-3pm and 3pm-8pm. From 22/9 till 29/9. (max 300 characters)" aria-label="jobDescription" aria-describedby="basic-addon2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Gig budget</label>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <input required *ngIf="!job.type"type="number" [(ngModel)]="job.amount" name="Amount" class="form-control" placeholder="Enter total budget for the gig">
                <input required *ngIf="job.type"type="number" [(ngModel)]="job.amount" name="Amount" class="form-control" placeholder="Enter your total budget for the task">
              </div>
            </div>
            <div class="btn-postjob">
              <button type="submit" class="btn  jugglr-btn-next" [disabled]="loading">Post gig</button>
            </div>
            <div class="col justify-content-center ">
              <div class="loader" *ngIf="loading"></div>
            </div>
          </form>
        
        
        </div>
        
      </div>
    </div>


    <div class="card col-12 col-md-6 commentcard">


      <div class="messaging" style="padding-bottom: 10px;">
        <div class="inbox_msg">
          <div class="mesgs">
            <!-- infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onMessageScroll()" [scrollWindow]="false"  -->
            <div class="msg_history" #chatHistory [scrollTop]="chatHistory.scrollHeight" style="height: calc(100vh - 250px);">
              <div class="" *ngFor="let comment of comments">

                <div class=" card-deck incoming_msg border-light border-bottom" *ngIf="!(comment.user_id==userid)">
                  <div class="incoming_msg_img"><img (click)="goprofile(comment.user_id)" [src]="comment.user_image"
                      class="rounded-circlex"></div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p><strong>{{comment.name}} :</strong> <span [innerHTML]="parseChatMessage(comment.comment)"></span></p>
                      <span class="time_date float-left">{{timeSince(comment.datetime*1000)}} </span>
                      <span class="time_date float-right">{{comment.datetime*1000 | date: 'short'}}</span>
                    </div>
                  </div>
                </div>

                <div class="border-light border-bottom outgoing_msg" *ngIf="(comment.user_id==userid)">
                  <div class="sent_msg">
                    <p><span [innerHTML]="parseChatMessage(comment.comment)"></span></p>
                    <span class="time_date float-left"> {{timeSince(comment.datetime*1000)}}</span>
                    <span class="time_date float-right"> {{comment.datetime*1000 | date: 'short'}}</span>
                  </div>

                </div>

              </div>

            </div>
            <div class="type_msg">
              <div class="input_msg_write">
                <textarea type="text" class="write_msg" multiline="true" placeholder="Type a comment" [(ngModel)]="comment"></textarea>
                <!-- <div class="spinner-gray" *ngIf="sendingChatMessage">&nbsp;</div> -->
                <button class="msg_send_btn" type="button" (click)="addComment()" style="top: 0;"><i class="far fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--/tab-content-->
<!--/col-9-->


<!--/row-->