<div class="container">
    <h1>Jobs (Companies)</h1>
    <ul class="list-container">
        <li class="item">
            <img src="../../../assets/job.png" class="rounded-circlex" alt="Cinque Terre">
            <p>Offer</p>
        </li>

        <li class="item">
            <img src="../../../assets/job.png" class="rounded-circlex" alt="Cinque Terre">
            <p>Need</p>
        </li>

        <li class="item">
            <img src="../../../assets/job.png" class="rounded-circlex" alt="Cinque Terre">
            <p>Offer</p>
        </li>
      </ul>
      <div class="container-button">
        <button routerLink="/addjob" class="btn btn-outline-secondary">Add a gig</button>
        <button routerLink="/listJob" class="btn btn-outline-secondary">Others</button>
      </div>
</div>